[2012-01-10 21:23] epugh opened #1 "Any chance this is posted to a maven repo?"
It's a pain building it myself!

[2012-02-21 12:27] #1 closed, assigned to nobody

[2012-07-12 15:31] richardhunt opened #3 "Using java-faker in JBoss AS"
Would it be possible to add the ability to run java-faker in a multi-threaded scenario, such as within a JBoss AS environment.  The change to the code is minimal.

Current code, which when run in JBoss AS returns a nullPointerException:

Map valuesMap = (Map) Yaml.load(ClassLoader.getSystemResourceAsStream(languageCode + ".yml"));

Requesting code to be updated to:

Map valuesMap = (Map) Yaml.load

[2013-04-08 14:37] rmariuzzo opened #6 "NullPointerException when instancing `com.github.javafaker.Faker`"
I'm using the following Maven artifact:

[code]

And instancing `com.github.javafaker.Faker` by obviously doing: `Faker faker = new Faker();`

I got the following exception:

[code]

Is there something I'm missing?

[2013-12-22 22:48] #6 closed, assigned to renshao

[2013-12-31 21:54] christopherperry opened #16 "Resource loading fails on Android"
Simply newing up a `Faker` on Android causes failure during resource loading of the yaml file. To keep your implementation clean of Android specifics please either make the `findStream()` method package private or public so it can be overriden.

[2014-01-08 15:54] #3 closed, assigned to nobody

[2014-04-21 03:36] yogurtearl opened #23 "Add a license"
Would you mind adding a license?

[2014-04-22 02:08] #23 closed, assigned to nobody

[2014-07-21 18:07] alechenninger opened #30 "0.4 is not present on maven central"
Looks like it failed to deploy on your 0.4 release build:
https://travis-ci.org/DiUS/java-faker/jobs/29114873

This happens to me every now and then too.

[2014-07-22 03:35] #30 closed, assigned to nobody

[2014-08-13 01:58] ErikPartridge opened #31 "Choose Gender"
It would be nice to be able to choose the gender of a name, is that at all possible?

[2014-10-19 03:17] ngocdaothanh opened #32 "Please publish Javadoc"

[2014-10-21 15:57] ngocdaothanh opened #33 "Please remove slf4j-simple dependency"
I'm using Logback in my app.

But Logback is not picked up because SLF4J sees that there are both slf4j-simple (added by java-faker) and Logback, and SLF4J selects slf4j-simple.

[code]

I guess slf4j-simple is added by java-faker not on purpose, so please remove it.

[2014-10-21 22:12] #33 closed, assigned to nobody

[2014-10-21 22:12] #32 closed, assigned to nobody

[2014-12-21 21:59] #16 closed, assigned to nobody

[2015-04-17 12:15] TheDerek commented on #31
Yeah I would like to know this as well. Also sorry for the bump.

[2015-05-04 21:21] codingricky commented on #31
The difficulty is in sorting out the existing names and classifying them according to gender. I don't think programatically it would be difficult. It's just the manual task of going through all the names and saying whether they are male, female or both.

[2015-06-05 19:17] ygnessin opened #35 "No .address().city()"
I see the methods `.cityPrefix()` and `.citySuffix()` but there doesn't seem to be a simple `.city()` method, which stympy/faker does have: https://github.com/stympy/faker#fakeraddress

[2015-10-26 00:27] fabito opened #40 "Add method for random image urls generation"

[2015-10-26 00:56] fabito opened #42 "Add support for portuguese"

[2015-10-27 04:52] rustanacexd opened #44 "How can I use this with gradle?"
How can I use this with gradle?

[2015-10-27 09:46] codingricky commented on #44
Yes as the library is published in the maven repository and can be expressed as a dependency.

[2015-10-28 01:41] rustanacexd commented on #44
Thanks!

[2015-10-28 01:41] #44 closed

[2015-10-30 10:30] #42 closed

[2015-11-02 03:16] fabito opened #45 "When are you planning to perform the next release ?"

[2015-11-02 21:33] codingricky commented on #45
I've just done one 0.6

[2015-11-02 21:33] #45 closed

[2015-11-05 18:39] PascalSchumacher opened #46 "version 0.6 not (yet?) in maven central?"
Maven can not download version 0.6 and http://search.maven.org tells me the latest version is 0.5.

Thanks for providing java-faker. :)

[2015-11-05 18:44] PascalSchumacher commented on #40
I guess 1650a5b5404ecc7b8ae3348aa305c6b8430de573 fixed this and the issue should therefore be closed?

[2015-11-06 15:35] jitpack-io commented on #46
Hi all
If you want to quickly get the latest release from GitHub, you can use:
https://jitpack.io/#DiUS/java-faker/javafaker-0.6

[2015-11-07 02:04] codingricky commented on #46
Try again @PascalSchumacher

[2015-11-07 02:04] #46 closed

[2015-11-07 02:05] #40 closed

[2015-11-07 09:36] PascalSchumacher commented on #46
Works now. Thanks!

[2015-12-03 04:00] mvgiacomello commented on #33
Version 0.6 working fine but getting:
[code]

[2015-12-04 13:06] Ewg777 opened #49 "Are you planning to add Gradle support?"

[2015-12-06 21:57] codingricky commented on #49
The jar file is published to the maven central repository so you can use it already for Gradle. I've added instructions to the readme to show how you can use it within a Gradle file.

[2015-12-06 21:57] #49 closed

[2015-12-07 09:44] Ewg777 commented on #49
[code]
Is there Android support? I supposed that was due to wrong integration.

[2015-12-07 10:50] codingricky commented on #49
@Ewg777 please refer to this https://github.com/DiUS/java-faker/issues/16. You can build a version of Java Faker that will work for Android.

[2015-12-09 07:07] Ewg777 commented on #49
[thiagokimo/Faker](http://github.com/thiagokimo/Faker) works fine on Android

[2015-12-09 07:48] codingricky commented on #49
It's the dependency to snakeyaml which causes the failure on Android. So the library is compatible with Gradle but not compatible with Android.

[2016-01-05 16:00] douglaslee1990 opened #51 "Should create random boolean value."

[2016-01-05 21:44] codingricky commented on #51
Why wouldn't you use the nextBoolean from java.util.Random?

[2016-01-05 21:51] douglaslee1990 commented on #51
So, I can and that is what I do right now but since I am already implementing faker it would be nice if faker just had a method to do that for me instead of me having to either:
- write a really short method to do it
- write that code locally

Not a big deal either way, but I thought it would be nice to have it in there.

[2016-01-05 22:02] codingricky commented on #51
I'm going to leave it out at the moment. I don't think there's a great deal of value in wrapping methods from java.util.Random in the Faker libraries.

[2016-01-05 22:02] #51 closed

[2016-03-16 15:42] mcandre opened #57 "readme: link to hosted java docs"

[2016-04-09 08:20] PascalSchumacher opened #58 "NullPointerException for company name for french locale"
When using java-faker 0.7 this:

[code]
results in:
[code]

[2016-04-09 17:50] PascalSchumacher commented on #35
Hi everybody,

this issue can be closed. `address().city()` was added with dbd8b634351136166e3c43888ca4861f3b8fa7b7 and released with version 0.7.

[2016-04-10 12:18] #58 closed

[2016-04-10 12:21] #57 closed

[2016-04-10 12:22] #35 closed

[2016-04-11 19:29] ygnessin commented on #35
Thank you!

[2016-04-13 09:39] muhvit opened #64 "Problem with date().past()"
public Date past(int atMost, TimeUnit unit) {
        Date now = new Date();
        Date aBitEarlierThanNow = new Date(now.getTime() - 1000);
        return future(atMost, unit, aBitEarlierThanNow);
    }

Shouldn't this be calling past() rather than future()? Worked around this by calling the 3 parameter form.

[2016-04-13 12:03] codingricky commented on #64
Fixed as part of d98849eb738809269cb1164ddfdc69069c8e0743

[2016-04-13 12:03] #64 closed

[2016-04-13 19:15] PascalSchumacher opened #65 "city with Locale.FRANCE does not use seed"
With 0.8 this always fails:

[code]

It worked with 0.7.

`city` works with a seed and without a locale.  `city` also works with a seed and with `Locale.GERMANY`.

Other methods seem to work.

[2016-04-13 21:46] codingricky commented on #65
Fixed with this 66aa3c6c7816e07af825a3e6a7896e64605ddaa3.

Thanks for raising it.

[2016-04-13 21:46] #65 closed

[2016-04-14 16:53] PascalSchumacher commented on #65
Thanks for fixing. :)

[2016-04-16 10:52] #31 closed

[2016-05-03 06:59] PascalSchumacher opened #95 "Address#streetAddressNumber returns complete street address instead of number"
e.g. `Hiller Road 60b`

[2016-05-03 08:09] codingricky commented on #95
Added a basic implementation here 7210acafc8f7cfac018bbb558118d289eecc2ad7

[2016-05-03 08:09] #95 closed

[2016-05-04 18:55] ikwattro opened #98 "Release frequency"
Hi,

Is it possible to release more frequently ? There have been a lot of PR's merged since the last release and packages depending on your library would benefit from having it released more often.

Thanks !

[2016-05-05 11:40] codingricky commented on #98
Just did a release today.

[2016-05-05 11:40] #98 closed

[2016-05-07 07:55] PascalSchumacher commented on #16
Just to let everybody know, the next version of java-faker 0.10 will work on android out of the box: https://github.com/DiUS/java-faker/commit/f4bb18940c833fc63008b50ffe03024efdcfd480

Cheers,
Pascal

[2016-05-07 07:58] PascalSchumacher commented on #51
@douglaslee1990 Since version 0.9 java-faker supports generating booleans: https://github.com/DiUS/java-faker/commit/4cda6064e5f1acb952463302545667c9b0ffda51

Cheers,
Pascal

[2016-05-07 08:00] PascalSchumacher commented on #49
@Ewg777 the next version of java-faker (0.10) will work on android out of the box: f4bb189

Cheers,
Pascal

[2016-05-09 08:23] PascalSchumacher commented on #49
java-faker 0.10 with Android support has been released: https://github.com/DiUS/java-faker/commit/8e92962b401436c5f4afd1094996659e62204044

[2016-05-09 08:23] PascalSchumacher commented on #16
java-faker 0.10 with Android support has been released: https://github.com/DiUS/java-faker/commit/8e92962b401436c5f4afd1094996659e62204044

[2016-05-30 17:22] RomanIsko opened #105 "Implement method that returns company site"
I think it would be useful to have method for **Company** object that returns company site URL

[2016-05-31 05:36] RomanIsko commented on #105
Close issue because pull request #106 is merged

[2016-05-31 05:36] #105 closed

[2016-06-08 19:08] mcandre opened #111 "Support Java 8 Instant's in addition to older Date's"
Please include support for Java 8 Instants, to make it easier for newer developers to plug and play.

[2016-06-09 01:30] codingricky commented on #111
I want to keep Java 1.6 support. For legacy and also Android support reasons.

[2016-06-11 02:23] mcandre commented on #111
Understood. Could we fork java-faker for Java 8+ types?

[2016-06-21 19:29] mcandre opened #112 "Phone numbers often contain invalid country codes"
Could faker provide two phone number generators, one with guaranteed valid country codes, another with potentially invalid country codes?

[2016-06-22 21:51] codingricky commented on #112
@mcandre yes that's fair enough. The phone numbers are randomly generated numbers.

[2016-06-22 21:55] codingricky commented on #111
@mcandre I don't think it's worth the overhead of forking and maintaining 2 branches for the purpose of Java 8 types at the moment. Maybe when there is sufficient demand for it, I will reconsider the position.

[2016-06-22 21:55] #111 closed

[2016-07-20 15:09] srang opened #113 "letterify replacing with lowercase"
According to the docs, `letterify` is supposed to replace ? with upper case letters (based on example) but implementation replaces it with lower case letters. An improvement would be to overload the method with a bool specifying uppercase.. or something

relevant docs:

For example, the string "12??34" could be replaced with a string like "12AB34".

[2016-07-26 16:57] #113 closed

[2016-07-28 16:13] ngocdaothanh opened #115 "Remove the name "kunde""
In Czech it is very similar to bad word "cunt":
https://github.com/DiUS/java-faker/blob/master/src/main/resources/en.yml#L111

[2016-08-01 00:58] codingricky commented on #115
Do you want to submit a pull request?

[2016-08-08 12:24] mlschechter opened #116 "Upgrade to commons-lang3"
The `java-faker` code currently pulls in the older `commons-lang` classes and functionality. This can create issues in projects that want to exclusively use `commons-lang3` and `java-faker`.

Could you please upgrade the dependency?

[2016-08-09 21:08] mozinrat opened #117 "Is there a limit of maxim number of unique entries we can generate through this"
For example what are maximum number of unique addresses which we can generate through this.

[2016-08-10 01:00] codingricky commented on #116
Do you want to submit a pull request?

[2016-08-10 16:39] mlschechter commented on #116
Yes, I can do that.

One question: The `RandomUtils` class has been changed significantly. The API has been narrowed, and injection of a `Random` instance is no longer supported. To continue providing the functionality you have in place, I'd recommend switching over to using the injected `Random` instance directly. Could you please let me know if you see any issue with this?

Thanks!

[2016-08-12 04:08] #116 closed

[2016-08-12 11:42] mlschechter commented on #116
Thanks for pushing this through. Could you please let me know when the next release will be?

[2016-08-30 10:28] nielinjie opened #120 "randomDouble failed when max or min is really big/small"
Please check -
[code]
I think the reason is max-min is out of integer's scope.

[2016-09-13 21:35] oillio opened #122 "IP and MAC addresses"
It would be nice to be able to generate fake IP addresses and MAC addresses.

[2016-09-20 19:04] zezuha opened #123 "Fake images are not downloaded. https://ssl.webpack.de returns error."
For some time now faking of images is not working correctly.
https://ssl.webpack.de/lorempixel returns an error:

SSL PROXY SERVER
Diese Internetpräsenz wird anscheinend nicht auf einem Webhosting Paket von Host Europe gehostet.

[2016-09-26 22:42] eliasnogueira opened #125 "Specific locales should be in lower case in yml files"
**The Problem**
If you try to use specific locales, like de example below, we get an NullPointerException because findStream method in FakeValuesService.java is not able to load

`Faker faker = new Faker(new Locale("pt-BR"));`

**What I've done**
I changed two things:
 * put all filenames as lower-case
 * put the identifier inside yml file as lower-case
 * use the lower-case locale as parameter to

[2016-09-27 08:55] #123 closed

[2016-10-03 23:00] trevershick commented on #117
That's going to depend on the locale. For example, australia has the following config.
Theoretically this could return 7 * 8 * (7 (3*9)) * 3 * ... .
A lot of combinations.  **Is there a specific issue you're having?**

[code]

[2016-10-03 23:16] #115 closed

[2016-10-04 03:14] trevershick opened #130 "Why does the jar contain snake-yaml?"
Generally speaking, the main artifact for a library should NOT include dependencies.  This can cause issues in larger projects where the shaded classes may cause duplicate classes.

A better option is to publish an unshaded jar by default and add another jar identified by a classifier like 'deps'.

It's a little odd because this shaded jar ONLY contains the snake-yaml dependency and nothing else,

[2016-10-04 03:53] #125 closed

[2016-10-04 05:36] #122 closed

[2016-10-04 13:26] srang opened #131 "Username undocumented"
The username functionality is not documented in http://dius.github.io/java-faker/apidocs/index.html

[2016-10-05 00:00] trevershick commented on #131
@srang can you check the pull request and see if this satisfies your documentation wishes.

[2016-10-05 00:13] srang commented on #131
Looks great!

[2016-10-05 03:05] #131 closed

[2016-10-12 01:03] trevershick commented on #130
Does anyone have an issue with me changing the Pom to publish a deps jar and a non deps jar?

[2016-10-12 01:04] trevershick commented on #117
Are you happy with this answer? Can this issue can be closed?

[2016-10-12 04:19] codingricky commented on #130
That's fine.

[2016-10-13 23:41] trevershick commented on #120
I've written a test and it works fine
[code]

What sort of error did you get?  Are you using the standard Faker() constructor or are you using a custom Random in the parameters?

[2016-10-14 09:26] nielinjie commented on #120
Sorry for late replay. This problem is no about error will be thrown, but the result is not really random. See this code please  -

//your original version.

        double value = min + (max - min) * randomService.nextDouble();
        return new BigDecimal(value).setScale(maxNumberOfDecimals, BigDecimal.ROUND_HALF_EVEN).doubleValue();
    }

//My quick version.

        long mm= (long)max - (lon

[2016-10-15 19:20] trevershick commented on #112
This is a pretty big request.  It would be better to migrate this in locale by locale. Phone number rules are complicated (like Finland) so doing all the research for all countries/locales is a big time suck.

Is there a specific set/subset of locales you are working with @mcandre ?

If you would be willing to enumerate the rules in this issue the fix will get put in that much quicker (I started t

[2016-10-16 22:35] #130 closed

[2016-10-17 22:48] #120 closed

[2016-10-18 07:41] PascalSchumacher commented on #130
@trevershick I requested the shading, because the sake-yaml fork used by java-faker is not in maven central or any other "well known" repository. So companies with strict policies concerning allowed maven repositories can not use it.

I should have enabled the package name rewrite feature of the shade plugin to prevent the potential dependency conflict. Sorry about that.

[2016-10-18 08:36] codingricky commented on #130
@pascalschumacher publishing 2 jar files should solve that problem no?

[2016-10-18 08:41] PascalSchumacher commented on #130
Yes the problem remains solved. I just wanted to add some context.

[2016-10-18 08:43] codingricky commented on #130
Cool awesome :)

[2016-10-18 10:59] trevershick commented on #130
Thanks for the info @pascalschumacher

[2016-10-22 07:21] PascalSchumacher opened #143 "FakeValuesServiceTest#expressionWithValidFakerObjectValidMethodInvalidArgs unit test fails"
Locally this test always fails with:

[2016-10-22 10:11] codingricky commented on #143
It doesn't always fail for me. I've seen it fail once. There's something in there causing it to be non deterministic.

[2016-10-22 11:36] PascalSchumacher commented on #143
For me it failed 5 times in a row before I created the issue. I just ran the test again and now it passes.

[2016-10-22 11:58] trevershick commented on #143
I'm in Orlando right now. My guess is that when getting the list of methods from the class, it returns in an inconsistent order. I have an enhancement I've worked out in my head to addresss this issue.

[2016-10-23 02:40] #143 closed

[2016-10-28 17:50] PascalSchumacher commented on #117
@codingricky As @trevershick answered the question I guess this issue can be closed.

[2016-10-30 10:36] PascalSchumacher opened #148 "University name fails for german locale"
`new Faker(Locale.GERMAN).university().name();` fails with:

[code]

I believe this is a general problem.

In https://github.com/DiUS/java-faker/commit/f574317642a820fc24eef51a1a1fbafa02db2043 the resolution of variables in the yml files was changed, e.g. `"#{PhoneNumber.area_code}-#{PhoneNumber.exchange_code}-#{PhoneNumber.subscriber_number}"` was replaced by `"#{area_code}-#{exchange_code}-#{sub

[2016-10-30 12:32] trevershick commented on #148
#city doesn't appear to be a correct expression. Did this work prior to the change?   I'll take a look at this. I think reverting the change is premature considering it fixes some other issues. By reverting you might be fixing this univeristybissue but you'd be breaking a number of others.

[2016-10-30 12:34] trevershick commented on #148
Shouldn't it be #Address.city?

[2016-10-30 12:52] PascalSchumacher commented on #148
Sorry, you are right this, in this case it is a bug in `de.yml`, it should be `Address.city`.

But there are other issues, e.g.:

`new Faker(new Locale("ru")).address().streetAddress();` fails with

[code]

and in this case `ru.yml` seems valid.

[2016-10-30 12:57] trevershick commented on #148
Ru.yml is referencing street-title but that doesn't exist. Street-name does. I think the assumption that the faker Yml files is correct is a flawed assumption.

[2016-10-30 13:02] trevershick commented on #148
I'm stepping out for a bit but I will help when I get back. I'll run your branch and see what the errors are.

[2016-10-30 13:04] PascalSchumacher commented on #148
`street_title` exists in `ru.yml`:
https://github.com/DiUS/java-faker/blob/master/src/main/resources/ru.yml#L11

[2016-10-30 13:11] trevershick commented on #148
Do we know if #{Address.street_title} would have worked with the code prior to the f574317 change?  It's taking advantage of the dynamic methods in ruby because street_title is not defined on the Address object.

I'll take a look at this issue in a little bit.  I still don't think it warrants a revert of the change.

[2016-10-30 13:23] PascalSchumacher commented on #148
Thanks for looking into this. :)

`new Faker(new Locale("ru")).address().streetAddress();` works when I use java-faker 0.10 (which uses the same `ru.yml` file).

[2016-10-30 14:49] trevershick commented on #148
I'm going to fix this, but new Faker(new Locale("ru")).address().streetAddress(); doesn't actually work.  I ran it in a loop with 0.10 and the result is below.  Regardless, i'm still going to fix it.

O'Hara проспект, 375
Cruickshank проспект, 966
Vita площадь, 737
Eloisa пл., 938
Maggie площадь, 174
Tyra проспект, 763
Arnold ул., 555
Bergnaum пр., 961
Cassie площадь, 834
Kassandra проспект, 882
C

[2016-10-30 15:04] trevershick commented on #148
@PascalSchumacher do you have a branch you're working on for this?

[2016-10-30 15:28] PascalSchumacher commented on #148
@trevershick Not sure what you mean?

I did not do any work on this beyond https://github.com/DiUS/java-faker/pull/150

[2016-10-30 16:08] trevershick commented on #148
@PascalSchumacher I created a PR on your branch.

[2016-10-30 16:15] PascalSchumacher commented on #148
Thanks a lot. :+1: :)

I have added the commit to #150.

I have also created pull requests to https://github.com/stympy/faker for the changes to yml files.

[2016-10-30 23:42] codingricky opened #153 "en-ZA.yml, es-MX.yml files"
dial_code, lada_dos and lada_tres doesn't exist as methods. And putting them only specific for a locale might be problematic.

[2016-10-31 01:14] trevershick commented on #153
fixed!

[2016-10-31 01:58] trevershick commented on #148
As code was merged to master for this issue, I think it can be closed now.

[2016-10-31 09:14] #148 closed

[2016-11-01 00:14] #153 closed

[2016-11-06 19:49] iceddante opened #157 "maven download does not seem to be working"
`Could not find artifact com.github.bmoliveira:snake-yaml:jar:v1.18-android in mavenCentral (https://repo1.maven.org/maven2/)`

I am getting this error message when trying to install the project. Is anyone else having this issue? Here's my repository setup:
[code]
for the following dependency:
`compile "com.github.javafaker:javafaker:0.11"`

[2016-11-06 20:06] trevershick commented on #157
Try adding jitpack to your repos.
allprojects {
    repositories {
    ...
    maven { url "https://jitpack.io" }

[2016-11-06 20:10] PascalSchumacher commented on #157
or use `compile "com.github.javafaker:javafaker:0.11:deps"`

[2016-11-06 20:13] zezuha commented on #157
I had this problem recently. When switching from 0.10 to 1.11.

As above, I had to add Jitpack and then snake-yaml from com.github.bmoliveira.

In my case, SBT, I actually had to add "1.18.1-android-rc2". SBT somehow was stripping out the prefix v from v1.18 as recommended by BMoliveira.

[2016-11-06 20:23] iceddante commented on #157
Thanks guys: I added jitpack as a maven destination to fix it.
Pascal: I'm not familiar with the 'deps' suffix. I'll have to look that up. Thanks!

[2016-11-13 18:34] FuzzyTree opened #158 "Gradle "Unable to resolve com.github.bmoliveira:snake-yaml:v1.18-android""
I'm trying to install via Gradle and added the line below in my build.gradle dependencies

    compile group: 'com.github.javafaker', name: 'javafaker', version: '0.11'

But gradle isn't able to resolve the snake-yaml dependency

    Unable to resolve com.github.bmoliveira:snake-yaml:v1.18-android

[2016-11-13 18:40] #158 closed

[2016-11-16 02:13] #157 closed

[2016-11-21 22:50] PascalSchumacher opened #168 "generated ISBNs are not valid"

[2016-11-22 18:48] PascalSchumacher commented on #168
to much work to fix

[2016-11-22 21:49] trevershick commented on #168
I saw you close this @PascalSchumacher and i had a little time.  It felt like an interesting challenge :)

[2016-11-22 21:58] PascalSchumacher commented on #168
:) 👍

I just gave up when I released fixing this would require serious work.

[2016-11-25 05:49] henryhuang opened #173 "Dependency not deployed error"
Hi,  it dependence a module:

[code]

which does not be deployed to maven central  http://search.maven.org/#search%7Cga%7C1%7Csnake-yaml , please remove it

[2016-11-25 12:40] PascalSchumacher commented on #173
Thanks for reporting!

This is a duplicate of https://github.com/DiUS/java-faker/issues/157 which is fixed in master.

@codingricky It would be very nice if you could release a new version of java-faker.

[2016-11-30 04:23] #168 closed

[2016-11-30 09:10] PascalSchumacher commented on #173
@henryhuang @codingricky has just released java-faker 0.12 which fixes this issue.

@codingricky Thank you very much.

[2016-11-30 09:12] henryhuang commented on #173
@PascalSchumacher thanx.

[2016-11-30 09:12] #173 closed

[2016-11-30 11:10] Eluinhost opened #176 "Flawed random number generation"
Random number generation doesn't fill the full spectrum, it misses values at the end of the range. For example numberBetween(1,4) will only generate values of 1 and 2, no 3 will show up.

Was testing with this code (sorry it's scala):

[code]

Example output for 1/4:

[code]

Again with 1/9:

[code]

This final value is always lower in distribution also.

Testing it with number.randomDouble(2, 1,

[2016-11-30 22:27] Abrasha opened #177 "Wrapping sublists with Serializable collections"
I guess it is better to replace `words.subList(0, num)` with `new ArrayList(words.subList(0, num))` in

    public List<String> words(int num) {
        List<String> words = (List<String>) fetchObject("lorem.words");
        Collections.shuffle(words);
        return words.subList(0, num);
    }

and similar to it.
Because there are cases when we have such exception:

    java.io.NotSerializableEx

[2016-11-30 22:56] trevershick commented on #177
I would say that as a general principal, if you're going to be serializing objects then you should be explicitly managing this sort of thing in your code.  To rely upon an external library would be dangerous.  It's with best intentions that libraries are maintained and coverage can be added to the library but stuff happens and you're depending on stuff 'not' happening.  So in my experience, it's b

[2016-11-30 22:59] Abrasha commented on #177
@trevershick, thank you for response

well, you are right. We shouldn't rely on 3'd party dependencies. But sublist in Java is kind of tricky and dangerous thing.

[2016-11-30 23:02] trevershick commented on #177
Sure. But for arguments sake an ImmutableList could be returned (from Guava).  This still may cause an issue for you even if it doesn't have the same subList issues correct?

[2016-11-30 23:19] Abrasha commented on #177
@trevershick, well
Here is an example.
I would like to test RedisTemplate with a lot of data.

It uses jdk serialization by default. In this case to must wrap the fake string list into serializable collection.

Fakers are mostly used to insert some test data set and if couldn't be serialized by default it is quiet unexpected. But this is my opinion

[2016-11-30 23:23] trevershick commented on #177
Sure, i think i understand. However, it sounds like you have a defect in your code anyhow.  If you 'set' a list into your java object, just setting it like this:

[code]

is a bad practice anyhow.  You should not be storing the reference to the list.  I could do this:
[code]

The setter accepting the list of names should be copying them.

[2016-11-30 23:33] Abrasha commented on #177
@trevershick thank you for suggestion.

But now I realized that it is currently done in higher version of faker.

now the method looks like the following:

    public List<String> words(int num) {
        List<String> returnList = new ArrayList<String>();
        for (int i = 0; i < num; i++) {
            returnList.add(word());
        }
        return returnList;
    }

I user version `0.2` and

[2016-11-30 23:37] trevershick commented on #177
ok. well i'm glad that worked out for you :)

happy coding.

[2016-11-30 23:39] Abrasha commented on #177
@trevershick you too :+1:

[2016-11-30 23:40] #177 closed

[2016-11-30 23:40] Abrasha commented on #177
@trevershick you too :+1:

[2016-12-01 09:32] PascalSchumacher commented on #177
@Abrasha the latest version `0.12` is even better than `0.11` :)

[2016-12-01 10:08] Abrasha commented on #177
@PascalSchumacher, thanks, I will definitely try it!

[2016-12-01 10:10] Abrasha commented on #177
@PascalSchumacher the `0.12` version has not been indexed by https://mvnrepository.com/artifact/com.github.javafaker/javafaker yet (

[2016-12-03 11:29] Abrasha opened #181 "Credit card number generator"
What do you think about generating random card number verified with [Luhn algorithm](https://en.wikipedia.org/wiki/Luhn_algorithm)?

[2016-12-03 11:47] PascalSchumacher commented on #181
already there: `faker.finance().creditCard()`  :)

see https://github.com/DiUS/java-faker/blob/f574317642a820fc24eef51a1a1fbafa02db2043/src/test/java/com/github/javafaker/FinanceTest.java

[2016-12-03 11:50] Abrasha commented on #181
@PascalSchumacher nice, thanks!
Issue could be closed.

[2016-12-03 11:55] PascalSchumacher commented on #181
@Abrasha You should be able to close the issue yourself.

[2016-12-03 11:56] Abrasha commented on #181
@PascalSchumacher, sorry. I searched 'Close issue' button in the wrong place.

[2016-12-03 11:56] #181 closed

[2016-12-04 22:36] #117 closed

[2016-12-19 04:49] codingricky commented on #112
Closing this issue as there is no feedback wrt any specific locales and rules. Once there are some specific rules we can open another issue.

[2016-12-19 04:49] #112 closed

[2016-12-29 11:46] nitinmukhija opened #187 "java.lang.NoSuchMethodError: org.yaml.snakeyaml.Yaml.loadAs"
Hi

I have cloned the repo and trying to use the same in my project by doing below changes in pom.xml (as per the version of the cloned code):-

**But, I am getting below error on doing:-**
`Faker faker = new Faker(new Locale("en-IND"));`

[code]

Please suggest.

[2016-12-29 11:49] nitinmukhija commented on #187
It works fine if I change the version to 1.12:-

Please let me know the changes which have happened between these versions. I want to send a pull request, to add support for custom resource files. eg. adding a new file like en-INDIA.yml with more formats.

[2017-01-03 05:42] codingricky commented on #187
@nitinmukhija I can't seem to reproduce your error. Do you have a failing test case that you can provide? And do all the tests (unit and integration) run for you?

[2017-02-05 11:40] PascalSchumacher commented on #187
I tried to reproduce, but this works for me on current master:

[code]

[2017-02-06 00:18] codingricky commented on #187
Can't reproduce.

[2017-02-06 00:18] #187 closed

[2017-02-15 17:36] nkelsa1 opened #194 "zipCode returns regEx for Locale.UK"
This code snippet outputs the regExp for the zipCode instead of an actual zipCode:
[code]
returns

**/[A-PR-UWYZ][A-HK-Y]g[0-9][ABEHMNPRVWXY0-9]i [0-9][ABD-HJLNP-UW-Z]{2}/**

[2017-02-19 22:27] #194 closed

[2017-03-01 10:22] mishashin opened #199 "faker.name().name() works correctly if I choose "ru" locale, but other methods return result in english."
I suppose it's not only for "ru" locale.

[2017-03-01 19:21] PascalSchumacher commented on #199
Hi @ mishashin

java-faker only returns locale specific data, if the `locale.yml` file contains any. Otherwise english data is returned.

For example when using java-faker 0.12 you will get russian data if this file: https://github.com/DiUS/java-faker/blob/javafaker-0.12/src/main/resources/ru.yml  contains any for the matching faker method. Otherwise java-faker will fetch the data from this file:

[2017-03-02 11:56] #199 closed

[2017-03-08 07:52] anilreddy opened #200 "How can I add custom test data fakers"
Hi,

How can I add custom faker data to the existing ones?

[2017-03-12 20:02] PascalSchumacher commented on #200
Hi anilreddy,

sadly I'm not aware of a way to easily/cleanly archive this.

[2017-03-24 02:44] andreldm opened #208 "Birthday generator"
Please add a birthday generator to date() like this one:
https://github.com/blocoio/faker/blob/50e38e96b87aa12f0509658b931ac6d3455ec386/src/main/java/io/bloco/faker/components/Date.java#L59

This avoids the mess of passing Dates (seriously?LocalDate is much more sexier) values to faker.date().between();

[2017-03-24 03:31] codingricky commented on #208
Any chance you would like to put in a PR?

[2017-03-24 11:31] andreldm commented on #208
Absolutely. During the weekend I'll craft the code =)

[2017-03-25 21:33] #208 closed

[2017-04-06 12:32] denniss17 opened #210 "Allow to extend fakers"
For a project, I want to define custom faker methods. In my case,
I want to put this under the `Name` faker. However, due to the constructor being package private, I can not extend this class to add my custom faker methods.

Is it possible that the constructors can be made public, so the different fakers are extendible?

Related issue: #200

If I have time, I will try to make an PR for this.

[2017-04-06 17:48] RicoSchueppel opened #211 "how to select item of array/list/collection ?"
plz help .. where do i find doc ?

i just want to randomly select  an item of an array

in faker.js (https://github.com/marak/Faker.js/) you can do this by

Faker.random.arrayElement<string>(Makes);
where Makes is an arbitrary array of something (objects), i.e. a List\<T\>

how to do this in java-faker ?

----

you might have a workaround with something like:

List<User> ul = users.findAll();
z.se

[2017-04-07 01:02] codingricky commented on #211
@RicoSchueppel there isn't a feature to do that yet and yes what you have is probably one way to do that.

[2017-04-10 12:52] denniss17 commented on #211
Interesting, we have added this feature manually. Even added a method to select a random enum value. We added this (to the parent faker, javadoc omited for now)

[code]

Let me see if I can quickly create a PR to add this to faker.random()

[2017-04-13 16:49] romanik-roma opened #214 "number().numberBetween(int min, int max) never generates value (max-1)"
When generating numbers between `min` and `max`, the following values are never obtained: `max` (which is an expected behaviour), and `max - 1` (which is not an expected behaviour).
In the following code
[code]
only `0` and `1` are generated, and `2` is never generated.

Reproduced in `v0.13`

[2017-04-20 23:07] #200 closed

[2017-04-20 23:07] #210 closed

[2017-04-20 23:15] #211 closed

[2017-04-21 03:36] #214 closed

[2017-04-21 06:32] PascalSchumacher commented on #176
@codingricky Looks like this issue was duplicated by https://github.com/DiUS/java-faker/issues/214 which you fixed with https://github.com/DiUS/java-faker/commit/694ea43e2befe9c7ebc44ffec376dc70dba1f409

So I guess this can be closed too.

[2017-04-21 06:33] #176 closed

[2017-04-26 23:36] brsanthu opened #215 "Thank you for this library"
We have been using this for a while and it has helped us a lot. Thank you.

[2017-04-26 23:56] codingricky commented on #215
@brsanthu no worries, you are welcome

[2017-04-26 23:57] #215 closed

[2017-05-16 12:21] IgorWolkov opened #216 "Custom yaml"
Is there any simple way to add my custom yaml or update/rewrite existing in my application?

[2017-06-08 06:53] robosoul opened #235 "Import latest yaml file from stympy/faker"
With all of the current classes supported, we could import latest file from stympy/faker and support new classes like: DragonBall, Hobbit, HitchhikersGuideToTheGalaxy, etc...

@codingricky - Any thoughts ? What about new releases ?

-Luka

[2017-06-08 08:35] mdomasevicius opened #236 "Static `Faker` instance reference"
It would be nice to have option for something like this: `Faker.default().internet().password()` out of the box.
I do understand that this could be achieved with a wrapper but *the best code to maintain is no code at all*.

I could contribute a pull request.
WDYT?

[2017-06-08 13:43] GMadorell commented on #236
I was just thinking about the same thing!

[2017-06-08 14:02] robosoul commented on #236
I think simply `Faker.instance()` would be enough since you can't have custom version(s) only the default one.

[2017-06-09 06:44] codingricky commented on #235
@robosoul Yep do you want to pull over the latest file and start working on those classes?

[2017-06-09 06:57] #236 closed

[2017-06-09 11:31] robosoul commented on #235
@codingricky - sure, I'll do it. Will open PR just for the file import and latter for each of the classes I implement.

[2017-06-26 09:07] arthurdeschamps opened #241 "Generate random address within specified city"
Hi everyone,

First off thanks for this project, it's really useful and very efficient. Nice work !

I wanted to know if it was possible to generate an address within a specific city ?
I know we can use a Local object at Faker instantiation, but this seems to work only with countries. I'm building a simulation and need to be able to generate local, national and international addresses.

Thanks

[2017-06-26 23:40] #235 closed

[2017-07-05 06:45] idc101 opened #242 "Null/Empty values"
Hi,

Is it possible to generate null/empty values for a certain percentage of output?

For example when generating company names, I'd like ~10% of them to be empty strings?

Thanks

[2017-07-05 19:18] PascalSchumacher commented on #241
Sorry to say, but at the moment there is no way to do this.

[2017-07-05 19:18] PascalSchumacher commented on #216
Sorry to say, but at the moment there is no way to do this.

[2017-07-05 19:18] PascalSchumacher commented on #242
Sorry to say, but at the moment there is no way to do this.

[2017-07-07 15:18] arthurdeschamps commented on #241
Ok, thanks for the reply. I'll try to take a look on my part when I'll have time.

[2017-07-10 06:58] idc101 commented on #242
How about something like this:
https://github.com/idc101/java-faker/tree/support-for-optional-values

API would look like:
[code]

(These tests will fail randomly with those percentages!)

If you're happy with that as an API, happy to submit a PR for it.

[2017-08-09 09:42] Kaijiro opened #246 "Localization not correctly spreaded"
Hey,

I was playing around with your Java implementation of Faker (and using it in French) and I saw that not every feature has been localized (e.g. Chuck Norris facts).

I was wondering if it was worth to eventually submit a PR for I18N missing features or maybe you don't think it is a priority

[2017-08-09 09:49] codingricky commented on #246
I would submit the PR to https://github.com/stympy/faker cause we sync it up from there from time to time.

[2017-08-09 09:49] #246 closed

[2017-08-21 01:58] memoeslink opened #247 "Typo in word (Locale: es)"
There's a typo in a Spanish word in the class Faker().company().profession(). The word is 'seguridada", but it needs to be "seguridad".

[2017-08-21 06:16] #247 closed

[2017-08-24 07:06] Naimadnap opened #249 "Update maven tag to newest changes"
Last tag was updated more than 5 months ago

[2017-09-08 14:35] baubakg opened #250 "First names are in english when initiating faker with local "ru""
Hello,

This is a great project:

Tested this with the russian locale:

`@Test
    public void testFaker() {
        Faker faker = new Faker(new Locale("ru"));

        String name = faker.name().fullName();

        System.out.println("fullname : "+name);

        String firstName = faker.name().firstName();

        System.out.println("firstname : "+firstName);

        String lastName = faker.n

[2017-09-20 08:13] baubakg opened #255 "I would like to pass a yaml file of my own making I.e Faker(File)"
Hi,

It would be nice to be able to pass a yaml file of my own making when initializing Faler.

`Faker faker = new Faker(new File("file path"))`

This will allow me to add / test customized yaml files, and be independant of the sentralized faker repository.

[2017-09-26 13:42] Taig opened #256 "ProGuard rules for Android"
When using java-faker on Android (without specifying further ProGuard rules), the library output is flawed. E.g. when calling `streetAddress()`, the resulting String is something like "Hauptstraße ##b". The mechansim that replaces the `#` with actual number values does not work.

Now I couldn't figure out from the source code what module could be responsible for this, but maybe you can give me a h

[2017-09-26 13:50] Taig commented on #256
It was as easy as adding `-keep class com.github.javafaker.** { *; }` to overcome this.

[2017-09-26 13:50] #256 closed

[2017-09-28 11:55] Abrasha opened #257 "Support generating card numbers"
As an example we can take: https://github.com/VRMink/credit-card-generator
But be aware that is has GNU GPL License

[2017-09-28 13:15] Abrasha commented on #257
Also we can find example Java in this gist: https://github.com/grahamking/darkcoding-credit-card/blob/master/RandomCreditCardNumberGenerator.java

[2017-09-28 13:17] Abrasha opened #258 "Add github tags"
Github supports tagging repositories, a.k.a. _topics_. I believe we can attach some to this repo.

Examples of proper topics are _random_,  _generator_, _fake_, _data_, etc..

<img width="478" alt="screen shot 2017-09-28 at 16 16 04" src="https://user-images.githubusercontent.com/11317222/30968540-5ad91a66-a468-11e7-9503-ac545a3c1f17.png">

[2017-09-30 21:22] juanmbellini opened #259 "Would be great to have a better Javadoc"
Javadocs does not have a very good description. Would be great to have description on methods in order to know what each one does at a glance

[2017-10-01 06:55] kinow commented on #259
+1, though I suspect it would be better to either keep it open and slowly add more documentation, or open one ticket per module/category/etc.

I have a post-it back at work with a class I struggled a bit to understand how to use. The note says "Write Javadoc and send a pull request" :-)

[2017-10-13 09:27] baubakg commented on #255
Hi I managed to solve this without code change:

Two things needed to be done for a custom YAML file:

1. Create a unique file name. Let's say "zz.yml"
2. Put it under src/java/resources
3. Change the YAML file make the top node have the same name as your file name (In this example "zz")

If you decide to put it in a lower directory, you will need to include this information in the YML file.

exam

[2017-10-13 09:27] #255 closed

[2017-10-20 02:58] jrobens opened #261 "No dialect with MSsql"
I am using jdbc:sqlserver: with dialect: org.hibernate.dialect.SQLServer2012Dialect and getting the following stack trace.

`
java.lang.NoSuchMethodException: org.hibernate.jpa.internal.metamodel.MetamodelImpl.entityPersisters()
	at java.lang.Class.getMethod(Class.java:1786)
	at com.github.kuros.random.jpa.util.Util.invokeMethod(Util.java:165)
	at com.github.kuros.random.jpa.metamodel.providers.hi

[2017-10-23 08:04] PascalSchumacher commented on #261
No sure where this should be reported (Hibernate?), but this is the wrong project. Java faker does not deal with jpa/sql.

[2017-10-23 08:05] PascalSchumacher commented on #259
I think pull requests are welcome.

[2017-10-23 08:08] PascalSchumacher commented on #257
Java faker supports generating credit card numbers:

`new Faker().finance().creditCard()`

[2017-10-23 08:11] PascalSchumacher commented on #250
Should be solved once https://github.com/DiUS/java-faker/pull/262 is merged.

[2017-10-23 08:35] Abrasha commented on #257
Wow, have not seen this. Thank you!

[2017-10-23 08:35] #257 closed

[2017-10-23 23:05] #261 closed

[2017-10-23 23:06] #259 closed

[2017-10-23 23:06] #258 closed

[2017-10-23 23:08] #241 closed

[2017-10-23 23:08] #216 closed

[2017-10-23 23:10] #250 closed

[2017-10-27 06:21] PascalSchumacher commented on #249
Javafaker 0.14 was just released (see: https://search.maven.org/#artifactdetails%7Ccom.github.javafaker%7Cjavafaker%7C0.14%7Cjar) so this can be closed.

[2017-10-27 06:23] Naimadnap commented on #249
@PascalSchumacher please update Readme.md :)

[2017-10-27 06:45] PascalSchumacher commented on #249
Here you are https://github.com/DiUS/java-faker/pull/265 :)

[2017-10-27 07:17] Naimadnap commented on #249
Great!

[2017-10-27 07:17] #249 closed

[2017-11-16 15:00] ressec opened #268 "Address generation country error when used with locale"
Hello,

First of all, congratulations on this so helpful data generator API.

I found a potential bug when using the **Faker** object to generate addresses using a locale. Let's take an example...

If I use the **Faker** to generate a, let's say, set of french addresses ... it generates:

[code]

but the country is wrong, it should be **France** for all of them.

It's the same for all locales.

Re

[2017-11-17 02:52] codingricky commented on #268
@ressec There is a problem there which is caused by lack of data for that locale. So all locales will default to the english locale if there is no data specific to that locale. So country will look for French data but when that doesn't exist, it'll use the English one.

However even in saying that, I don't think the data should return **France** for all of them but rather French names for the coun

[2017-11-17 10:48] shortstacked commented on #268
I wouldn't call it a bug, but it does seem like an unclear implementation.  An entry could be added to the readme file explaining what Faker services are changed depending on locale passed in.

[2017-12-01 15:36] gabelilly opened #270 "Expression `number().numberBetween(int 0, int 3)` never returns 2"
I wasn't able to debug this thoroughly, but I was using the `numberBetween(int, int)` function during testing and my range was 0 to 3. When running the test 1000 times, I never saw 2 appear as a result. Am I using this method incorrectly? Here's the quick test I ran:

[code]

[2017-12-12 06:40] makkes opened #272 "Umlauts in email addresses"
We are using the Faker with a German locale like this:
[code]
The email addresses that are then generated sometimes contain umlauts which is incompatible to most MTAs.

[2017-12-16 23:08] rolyatwilson opened #275 "UUID is failing unit tests"
`InternetTest` is failing in CI:
[code]

[2017-12-16 23:56] rolyatwilson commented on #270
When I run your code I get `2`s:
[code]

[2017-12-17 00:38] #275 closed

[2017-12-28 06:26] msmvc opened #277 "about "Usage with Locales""
说明页面里说的用法是
Faker faker = new Faker(new Locale("{YOUR_LOCALE}"));
按这个写法运行时报错;
正确写法应该是下面这样,没有大括号
Faker faker = new Faker(new Locale("YOUR_LOCALE"));

[2018-01-16 18:27] npvincent opened #278 "Performance of ZipCode"
Hi,

It seems there's a bit of a performance bottleneck with generating zipcodes as a new Generex object is instantiated every time a zipcode is requested.  Here's a quick (Kotlin) test script I knocked up:

[code]

Running that with the current head of master produces these results on my laptop (JDK9):

[code]

Hacking up a new version of FakeValuesService that cached the Generex objects so they

[2018-01-17 00:40] codingricky commented on #278
I don't mind improving performance but I don't want it to be at the expense of thread safety (even though I'm not sure if the current implementation is 100% thread safe) and over complicating the implementation. So if you could tick both boxes, then I'd be happy to incorporate any changes into the codebase. I hope that's not too much to ask :)

[2018-01-17 00:44] codingricky commented on #277
Are you saying I should remove the curly braces from the documentation?

[2018-01-18 09:27] msmvc commented on #277
是的我说的就是这个意思

[2018-01-26 01:12] NBS-LLC commented on #187
I ran into the same error (stack trace) with version 0.14 just by instantiating the Faker class. No locale info.

I was able to fix it by moving the Faker maven dependency to the top of the dependency list.

[2018-01-31 08:22] tappava commented on #277
是的我说的就是这个意思 = yes thats what I mean

greetings

[2018-01-31 23:18] #277 closed

[2018-02-01 15:22] msmvc commented on #277
yes. i found that you had removed the domo source "Faker faker = new Faker(new Locale("YOUR_LOCALE"));"

[2018-03-01 11:10] dagnelies opened #282 "hex values"
Hi,

it would be nice to be able to generate hex malues, like `faker.random().hex(amountOfSymbols)` (or in `number`) and also `faker.color().hex()` resulting in something like `#123456`

[2018-03-01 12:11] dagnelies commented on #272
As far as I understand, according to:

https://stackoverflow.com/questions/2049502/what-characters-are-allowed-in-an-email-address

https://tools.ietf.org/html/rfc6531

UTF8 in addresses are allowed as of 2012 ...how the MTAs deal with it in practice is another matter. Actually, generating UTF8 email addresses is a nice feature for testing. If you don't want them, just pick another locale. My 2 ce

[2018-03-07 09:19] mqzry opened #283 "currency iso codes"
This is a feature request.

Could currency iso codes as defined in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) be added?

[2018-03-14 21:45] naheedmk opened #288 "Is there a way to link to limit ID min max value and repeat it to generate multiple transaction for same IDs ?"

[2018-03-15 10:36] shortstacked commented on #288
Can you explain a bit further please? I'm not sure what you are trying to do.

[2018-03-26 08:08] mqzry commented on #283
Fixed by https://github.com/DiUS/java-faker/pull/285

[2018-03-26 08:08] #283 closed

[2018-03-26 08:09] mqzry opened #289 "Release schedule"
Is there a release schedule?
When are you planning to release 0.15?

[2018-03-26 18:15] shortstacked commented on #289
I'd also like to know that, and if we need to close of any existing issues or get new features in before then?

[2018-03-26 18:29] codingricky commented on #289
@mqzry @shortstacked in about 2 weeks

[2018-04-01 17:36] dioxic commented on #278
Following the code through, caching of Generex objects would be thread-safe. The `Generex.random()` method does not using any of the internal state apart from the `automaton` object to get the initial state (which itself won't change).

[2018-04-05 13:07] adjiginandjar opened #292 "Gadle depedencies"
I'd use
compile group: 'com.github.javafaker', name: 'javafaker', version: '0.14'
from maven central and get sync failed

Cause: org.gradle.internal.component.external.model.DefaultModuleComponentSelector

Warning: root project 'myProject': Unable to resolve additional project configuration.
Details: org.gradle.api.artifacts.ResolveException: Could not resolve all dependencies for configuration ':

[2018-04-05 13:16] adjiginandjar commented on #292
Solve, my gradle setting is ' Offline Work'

Thanks

[2018-04-05 13:16] #292 closed

[2018-04-13 21:55] codingricky commented on #289
Released version 0.15.

[2018-04-13 21:55] #289 closed

[2018-04-16 17:54] ademdogu opened #293 "Zip code by state"
`faker.address().zipCodeByState("AZ")`

errors out:
[code]

[2018-04-16 21:56] ademdogu commented on #293
ah, thanks!

[2018-05-21 13:16] josejuanmontiel opened #294 "Is there an option for "plugins"?"
The idea could be to "plug" some class to generate something very specific for my proyect... the name of my girlfriends...

name=faker.my.girlfriends

:)

[2018-05-21 13:18] josejuanmontiel opened #295 "Is there an option for a static list of values"
Similiar to  #294 but not the same, is there a way to define a static list of values, that could be returned each call

-- propertie
listvalues=value1, value2, value3, value4, value5

predefined=faker.my.listvalues

first call:  value1
second call: value2

[2018-05-21 13:28] denniss17 commented on #294
In our project we created an extension of the faker class in order to add our own faker methods. This is possible since https://github.com/DiUS/java-faker/pull/213

[2018-05-21 13:40] josejuanmontiel commented on #294
Hi, I only starting dig in code.. i'm using it from beanmother proyect... i'll review more carefully what you said.

But originally i was thinking something more near to get inside this constructor

https://github.com/DiUS/java-faker/blob/master/src/main/java/com/github/javafaker/Faker.java

to use some "very specific feature" coded in my jar "along with the other great that was implemented before

[2018-05-23 13:39] jrodalo opened #296 "Invalid usernames and email addresses with some locales"
Hi!

there is a problem with _usernames_ and _emails_ generation using the Spanish locale (the same may happen with other languages). Some names includes whitespaces so, in these cases, when generating the username we get something like `"josé luis.alonso"`. The method that generates emails is also based on the username, so in these cases we get invalid emails like `"josé luis.alonso@example.com"`

[2018-05-26 14:18] jrodalo commented on #296
I've made a pull request (#297) that fixes this issue. Please, feel free to suggest any changes :)

[2018-05-29 18:41] randysecrist opened #298 "idNumber().ssnValid() throws NoSuchMethodError"
Using version 0.15

[code]

[2018-06-04 10:25] Varun-NS opened #299 "Random Alphanumeric values"
How to generate an alphanumerical string of a specified length ?

[2018-06-04 10:53] azakordonets commented on #299
Multiple options :
1. faker.lorem().fixedString()
2. faker.letterify("????aaaa") -> will replace ? with random letter
3. faker.botify("????####aaaa") -> will replace ? with random letter and # with random number.

[2018-06-11 02:31] qiangbro opened #301 "feature request : generate random chinese name?"
feature request : generate random chinese name?

[2018-06-14 14:49] baubakg commented on #299
Hi,

But these seem to be in latin despite instantiating faker with Japanese for example.

Example:

[code]

Only the first line spits out japanese text, but not the two last ones

[2018-06-15 14:05] azakordonets commented on #299
Probably that's because there's no Japanese translation available? https://github.com/DiUS/java-faker/tree/master/src/main/resources - I don't see here Japanese resource file.

[2018-06-18 08:10] baubakg commented on #299
Its there:
https://github.com/DiUS/java-faker/blob/master/src/main/resources/ja.yml

Sorry, I see that I copu pasted my local implementation a bit too much. Will adapt it accordingly.

[2018-07-17 10:28] serzhshakur opened #304 "Bank faker"
Hello,

do you have a plan to implement Bank faker?

[2018-07-17 12:52] serzhshakur commented on #304
Found that `Finance` is somewhat similar to Bank. Closing the issue

[2018-07-17 12:52] #304 closed

[2018-07-24 06:48] Striix opened #305 "Zipcode can't be generated (locale: 'nl')"
Upon generating a Zipcode for locale 'nl', I get the following error:

Unable to resolve #{regexify '\d{4} [A-Z]{2}'} directive.

[2018-08-07 16:21] acnacion87 opened #309 "How to generate related faked data?"
I would like to know if there is a way I can generate fake data (e.g Company and User info) with the details generated relates with each other?

For example if I generated a company name:
[code]
And the name generated is **Anderson Anderson**, i would want to generate emails like these examples:

- john.doe@anderson-anderson.com
- phil.hawk@aanderson.com
- tom.schwartz@aa.com

[2018-08-27 07:17] rigorio opened #311 "I can't find Faker for Dog"
I'm currently using version 0.15 via Maven but no matter how hard I try I can't seem to find the Dog Faker.
Here's the Faker.java in my project:
[code]

[2018-08-27 07:19] rigorio commented on #311
My Maven dep:
[code]
So I'm not really sure where I went wrong.

[2018-08-28 00:31] codingricky commented on #311
@rigorio I just did a release with the Dog faker in it. It's in 0.16.

[2018-08-28 00:31] #311 closed

[2018-08-28 00:32] codingricky commented on #309
Sorry this feature doesn't exist.

[2018-08-28 00:32] #309 closed

[2018-08-30 00:48] patrickbray opened #312 "Support for E.164 Phone Numbers"
Hi

Thanks for porting this library across to the JVM it makes our test data generation a lot more enjoyable.

Just wondering if it would make sense to add a function to get a valid [E.164](https://en.wikipedia.org/wiki/E.164) formatted phone number?

If so I could look at submitting a PR for this?

Thanks

[2018-09-03 03:20] frontgoo opened #313 "chinese IdNumber is invalid"
String IdNumber = faker.idNumber().valid();

826-54-4785

IdNumber is not a valid chinese idnumer

[2018-09-03 14:41] gregod commented on #296
Hi,
this is a follow up to this issue concerning mail servers not implementing the current RFC 6532 for international chars in email addresses (for example the mock smtp server [mailcatcher](https://mailcatcher.me/))

According to the older [RFC 5322](https://tools.ietf.org/html/rfc5322#section-3.2.3) the é in josé is not valid in the local part.

This is somewhat of an edge case but i think not m

[2018-09-19 20:31] steveinatorx commented on #187
i will add my report even though this is a stale issue: i got the same error when importing com.github.faker.* to a jmeter groovy script in faker version 0.16. Downgrading to the faker version 0.12 jar resolves this issue for me.

[2018-10-05 20:03] jrodalo commented on #296
Hi!

I've made another PR to remove accents in the local part. (#324)

Better late than never ;)

[2018-10-12 19:49] #296 closed

[2018-10-23 16:25] michellemay opened #326 "determinism, seeding and caching"
Hi, I'm wondering, is there a way to achieving determinism?
I can't get coherent a person data with current methods unless I carefully make sure the calling order is fixed, re-seeding before each calls and make sure I do not call composite methods.

For instance, I want to have a coherent username, first name, last name and email values.  If I call faker.name().lastName first, there is no way I ca

[2018-10-30 17:41] yolave opened #327 "org.yaml:snakeyaml dependency is giving an error because 'android' classifier"
In the pom.xml file, the declared dependency for **org.yaml:snakeyaml** has the **'android'** classifier so, when a project compiles, it gets an error because the name of the library who is tried to be downloaded (in my case, from jcenter: https://jcenter.bintray.com/org/yaml/snakeyaml/1.17/snakeyaml-1.17-android.jar). My project is a normal java one (not android) and i'm using Gradle instead Mave

[2018-11-01 09:48] JakimLi commented on #301
I guess this already implemented:

https://github.com/DiUS/java-faker/blob/master/src/main/resources/zh-CN.yml

Shouldn't `new Faker(forLanguageTag("zh-CN")).name().name()` work?

[2018-11-05 14:07] michellemay commented on #326
I ended up subclassing Faker and FakeValuesService and overriding some methods.  This looks more like a hack than anything else.   It could have been cleaner given less strict members/attributes visibility.

[2018-11-08 06:29] qiangbro commented on #301
works.

    new Faker(Locale.SIMPLIFIED_CHINESE).name().name()

[2018-11-08 06:29] #301 closed

[2018-11-08 18:03] Jeff-Walker commented on #299
I'd still like a quick way to mix it up without a predefined pattern.

[2018-11-08 18:08] Jeff-Walker opened #328 "for `name().nameWithMiddle()` first name and middle name are the same."
When I generate a full name with middle name, the middle name is always the same as the first name. This is using the default locale, which is EN-US.

[code]
[code]

[code]

[2018-11-13 07:38] 80678156 commented on #295
faker.options().nextElement(listValues);

[2018-11-20 11:36] dewos commented on #242
@PascalSchumacher this would be really useful, it's a common pattner

[2018-11-22 15:00] Outpox commented on #327
Same issue here :-/

[2018-11-28 10:11] yolave commented on #327
For all those reporting the same issue, i did configure my project to avoid this problem.
Simply, go to your build.gradle file, exclude the problematic dependency and then add it again:

`implementation ('com.github.javafaker:javafaker:0.14') {
		exclude module: 'org.yaml'
}`
`implementation group: 'org.yaml', name: 'snakeyaml', version: '1.17'`

[2018-11-28 18:18] UngarMax commented on #326
@michellemay Could you please explain how did you do it?

[2018-11-28 18:45] michellemay commented on #326
It's not perfect but it does the job for my needs.  So I did the following:

1) Subclass `FakeValuesService`:
 - add a mutable hashmap cache.
 - override `resolve` and `expression` and lookup in the cache before delegating to the base class call.

2) Subclass `Faker`
 - embed an instance of `FakeValuesServiceWithCache`
 - add method clearCache that clear the cache
 - override `fakeValuesService`,

[2018-12-05 09:17] codingricky commented on #327
Which version of java-faker are you using? The latest version uses snake-yaml 1.20 which is resolvable.

[2018-12-05 09:19] codingricky commented on #328
resolved with https://github.com/DiUS/java-faker/commit/f973acb33f91db0f1a581ab2ef4287083c3faa1a

[2018-12-05 09:19] #328 closed

[2018-12-05 09:54] #242 closed

[2018-12-05 09:55] #268 closed

[2018-12-05 09:55] #272 closed

[2018-12-05 09:56] #278 closed

[2018-12-05 09:56] #293 closed

[2018-12-05 09:57] #294 closed

[2018-12-05 09:57] #295 closed

[2018-12-05 09:59] #326 closed

[2018-12-05 10:00] codingricky commented on #312
@patrickbray sorry for the delay, yes you can submit a PR if you want for this feature.

[2018-12-05 10:00] #312 closed

[2018-12-05 10:00] #299 closed

[2018-12-08 20:16] yolave commented on #327
In my case, i'm using the version 0.14. The POM file for this release has the snake-yaml 1.19 with the classifier "android", so Gradle or Maven can't find the library in any remote repository.

Here's an extract from the POM file for the release version 0.14 of Java-Faker:

`<dependency>`
`   <groupId>org.yaml</groupId>`
`   <artifactId>snakeyaml</artifactId>`
`   <version>1.19</version>`
`   <cla

[2018-12-09 07:33] vijayanandnandam commented on #327
This works..

[2018-12-09 21:04] codingricky commented on #327
@yolave could you use the latest version 0.16 and see if you've get the same error?

Thanks

[2018-12-13 19:56] bkalbfus opened #336 "Please add browser user-agent Faker"
Either use real-world data like https://pypi.org/project/fake-useragent/
or use snapshot cache like https://github.com/mkstayalive/random-user-agent-java

[2018-12-14 11:06] gmarti28 opened #337 "Add locale for Argentina (es-AR)"
There is no locale available for Argentina

I'd like to add myself a new locale for supporting valid addresses and other fakes in Argentina

It would be nice if I got permission to branch, add the new locale and create the needed PR

[2018-12-20 12:52] yolave commented on #327
OK @codingricky , i've performed some tests over my project changing the library version. What i've found is there are two problems with the mentioned library above.

The **first problem** is with the org.yaml:snakeyaml:1.17 library. This library is used in other projects like Spring Boot (1.5.9-RELEASE) and Google Cloud Appengine Plugin (0.3.9) and they eventually replace the version defined by j

[2018-12-28 05:47] mkiisoft opened #340 "Improve performance by only taking necessary values"
Over Android, to generate a Fake object takes around 1 second... I had to use RxJava to avoid getting my UI frozen but I think if we had something like:
 ```"new Faker("locale", "params"...)"```
or
```"new Faker("params"...)"```
it would be great and make the process faster cuz sometimes we only need a name or name + last name.

[2019-01-14 19:24] thiagolocatelli opened #342 "Fake values assigned through Faker annotations"
I was thinking about writing a PR to include the following requirement.

A java class could have it's attributes annotated with annotations from faker and two methods would be created. One receiving an existing instance of the class and one receiving a class type T. The first method would inject the fake values in the attributes annotated and the second method would create an instance of type T, i

[2019-01-15 02:14] firstblood1985 opened #343 "set random"

[2019-01-15 02:15] #343 closed

[2019-01-21 15:34] blackleg opened #346 "Release 0.17"
When are you planning to release 0.17?

[2019-01-29 18:32] harezmi1907 commented on #31
I assume this is not resolved, right? That'd be great to have it.

[2019-01-29 19:22] codingricky commented on #342
I think this would be big enough to warrant its own project independent of java-faker.

[2019-01-29 19:22] #342 closed

[2019-02-01 12:04] waldkram opened #348 "NullPointerException after upgrading to 0.17"
Hi,
after upgrading from 0.16 to 0.17 I get a `NullPointerException` when I do `new Faker()`

[code]

Anything I missed for upgrading to the new version?

[2019-02-01 20:32] thuri commented on #348
I do have the same problem. Looks like commit 1fae9c has introduced some hidden NPE
the line
[code]
contains the call to listFiles with returns null in case the path doesn't denote a directory
from the java doc
[code]

@codingricky Where did you want the code to look for the direcotry "en"? Because i think that getClass().getClassLoader() will return the jar class loader and look for the directory

[2019-02-02 00:13] codingricky commented on #348
@thuri @waldkram try the latest version, I added a fix. It's quite tricky to test as the tests don't replicate exactly the same situation as at runtime. I had to create another project and use the faker as a dependency to replicate it.

[2019-02-02 01:49] rspieldenner commented on #348
and apologies, my dependency update got stuck on 0.17 when i went back from 0.16 to 0.+ -- I'm fixed at 0.17.1

[2019-02-04 07:53] waldkram commented on #348
Yep, the fix works for me too.

Thanks for the quick response and fix :+1:

[2019-02-04 07:53] #348 closed

[2019-02-04 10:51] PeskyTheBear opened #349 "Initialization of faker failing with the latest release"
Hello,
I'm using the latest release (0.17.1) downloaded from maven central but every time i try to make a new instance of the faker i am getting te following error
[code]

The faker is instantiated without any parameters in the constructor

[2019-02-04 12:23] codingricky commented on #349
@PeskyTheBear how are you creating the Faker object? Which params are you passing in? and which version of the JVM are you using?

[2019-02-07 16:13] thomhurst commented on #349
I'm also getting this! Java 8, Windows 10, Android Codebase using Kotlin

[2019-02-08 11:19] ckurtm opened #351 "Country Names,Flags & Codes"
is it possible to add a country property where u can get country name, city, code,flag and all?

[2019-02-08 20:39] aminsoheyli opened #352 "New Android studio and new Gradle version problem"
I am using android studio with the bellow properties:

android studio version: 3.3
gradle version: 4.10.1
android plugin version: 3.3.0

1. > When I add this dependency to the build.gradle file like as bellow :

[code]

2. > The project was synced but, in the each java file that I wanted to use the Faker,

[2019-02-09 05:03] #346 closed

[2019-02-09 05:52] codingricky commented on #352
[code]

Does something like that work for you?

[2019-02-09 05:52] codingricky commented on #349
I did a release 0.17.2 that should support android

[2019-02-09 05:53] codingricky commented on #337
Feel free to create the PR and submit when ready.

[2019-02-09 05:53] #337 closed

[2019-02-09 05:53] #288 closed

[2019-02-09 09:09] aminsoheyli commented on #352
Yes, it works for me, and I was changed the ReadMe file and made a pull request for this.

[2019-02-09 09:12] #352 closed

[2019-02-09 12:08] gmarti28 commented on #337
Rick, I don't have permissions to commit yet.

[2019-02-09 22:05] aminsoheyli commented on #351
Yeah✔, it's possible.
If you can, please do it, and then make a pull request.

[2019-02-10 00:33] ckurtm commented on #351
done :) https://github.com/DiUS/java-faker/pull/353

[2019-02-10 01:35] codingricky commented on #337
Anyone can submit a PR

[2019-02-10 09:27] aminsoheyli commented on #351
Thanks🌹❤

[2019-02-10 22:07] #351 closed

[2019-02-10 22:08] codingricky commented on #336
would you like to submit a PR?

[2019-02-11 18:14] haruntuncay commented on #336
Hey @bkalbfus, if you don't have the time or interest to submit a PR, please let me know.
@codingricky, I would be happy to submit it.

[2019-02-11 19:17] bkalbfus commented on #336
Thanks for asking.  Please submit with whatever method you prefer.  I saw
some browser-agent entries in the yml files, but I had to choose just one
browser type (I used the code:  faker.resolve("internet.user_agent.chrome")
).  It'd be useful to simply get a random agent string and maybe have it
weighted according to popularity.

Thanks again!  Faker has been very easy to use!

-Brian

On Mon, Feb

[2019-02-11 21:22] codingricky commented on #336
I wouldn’t worry about weighting by popularity... no other method does that and the point is just to get random data quickly. Thanks!

[2019-02-12 13:50] haruntuncay commented on #336
Hey @bkalbfus, so what you want implemented is just a way to get a browser agent without choosing one beforehand, right ? So, do you think something like the below would be okay?

`faker.resolve("internet.user_agent")` or `faker.resolve("internet.user_agent.rand")`

Also, do you think there should be more values per each browser vendor ?

[2019-02-12 18:32] bkalbfus commented on #336
I tried `faker.resolve("internet.user_agent")` first in hopes that it would randomize all sub-lists, but that didn't work.   I guess that would be a good place to put all values.  It would be good to have it called fluently like other fakers:   `faker.internet.userAgent()`
If we want to keep the choice of which browser easy, then we can have:
`faker.internet.userAgent().any()`
`faker.internet.user

[2019-02-12 21:10] codingricky commented on #336
maybe you can do something like https://github.com/stympy/faker/blob/master/lib/faker/default/internet.rb and take in an enum being the vendor (browser)

[2019-02-13 08:49] haruntuncay commented on #336
Thank you both for the suggestions. I am free for the 2 following days, starting to work on it right now. 😄

[2019-02-13 08:50] codingricky commented on #336
No rush, thanks

[2019-02-13 16:15] haruntuncay commented on #336
Hi @bkalbfus, I was able to add the feature you requested today.
Could you please check it out and provide a feedback on whether it will do your job or not ?
Thank you.

[2019-02-13 18:47] bkalbfus commented on #336
I checked it out, built it, and referenced the snapshot in my code with the function you added.  It works perfectly and the use is obvious!

A side note - the first build resulted in a test failure of the type that faker is meant to expose.  See attached test results.  Apparently there is a currency called "Pa`anga" that doesn't fit the regular expression being tested for.

[com.github.javafaker.C

[2019-02-13 18:57] haruntuncay commented on #336
I am glad it worked out well. Also, thank you for pointing out the test case issue.

[2019-02-18 19:29] sachsgit opened #359 "Foreign Addresses?"
Hi,

Tried:
[code]
and I got:
[code]
Are these valid? I ask because what little research into international mailing address I did, I found:
* Use all capital letters.
* Type or legibly write the address in English.
* Use no more than 5 lines, including:
 1. Addressee's name
 2. Street address or P.O. box number
 3. City or town, principal subdivision such as province, state, or county, and postal

[2019-02-19 19:45] juanmbellini opened #360 "More constraints for passwords?"
Would be great to be able to indicate whether we want to include numbers (apart from lowercase, uppercase and special characters).

[2019-02-19 19:46] juanmbellini opened #361 "More constraints for usernames"
Would be great if we could indicate minimum and maximum length for usernames.

[2019-02-19 21:26] codingricky commented on #359
I don't think they adhere to any rules around international mailing addresses

[2019-02-19 21:27] #349 closed

[2019-02-19 21:28] #336 closed

[2019-02-20 12:04] haruntuncay commented on #361
Hey @codingricky, I would be happy to work on this issue as well as the related one #360 . Can I be assigned to them ?

[2019-02-21 15:40] emouawad commented on #340
yes so slowww

[2019-02-27 16:44] iaguera opened #363 "Flanky tests based in Witcher game quotes"
In Witcher game quotes we are facing some intermittent issue executing unit tests.

[2019-03-03 09:52] dimalusa commented on #327
Same issue ! :'(

[2019-03-08 09:28] andeb commented on #363
https://github.com/DiUS/java-faker/pull/366 fixes that intermittent failure and another one as well

[2019-03-09 15:59] stoffel2107 opened #367 "Cleaning Up"
Hey,
I started using Java-Faker and wanted to help improving but i wanted to write issues first so you can decide what you want to have and what i should better not do.

Therefore i will be fixing all issues myself.

With Clean Up i mean bringing every YML file into a structure like the files in the en folder, making it easier to spot missing yml files for a language and append a lagnuages content

[2019-03-25 09:16] codingricky commented on #367
@stoffel2107 with moving yml files around, I try and keep the same structure as https://github.com/stympy/faker this one we can just import those yml files as they're updated. They seem to get way more updates than this project, so that strategy has always made sense imho.

The EN class, I never really wanted it, I struggled to dynamically generate that list.. like it wouldn't work on Android. In

[2019-03-25 10:06] stoffel2107 commented on #367
you can have a look tonight. I'm at work but I already moved those files and playing around.
Just because this is the easier way doesn't mean it's the best for us as 'Java-Faker' maybe once we have it running in a second branch and tested it properly we can open an issue at stympies and consider spreading a best practice so updating yml files is easier.

And that is exactly what this is about, mak

[2019-03-25 19:55] josepj commented on #340
Faker object initialization times in milliseconds for 0.16 and 0.17.2.

**0.16**:
[code]
**0.17.2**:
[code]
**PS:** Output of:
[code]

[2019-03-25 22:24] #363 closed

[2019-03-25 22:40] iaguera opened #371 "Flanky tests MedicalTest#testMedicineName"
Regular expression does not fit in values like:
- HYDROXYETHYL STARCH 130/0.4
- GUANGXI YULIN PHARMACEUTICAL GROUP CO LTD
- COMOCLADIA DENTATA BARK/LEAF

in MedicalTest#testMedicineName.

[2019-03-29 15:16] Ryuuji159 opened #372 "Random generation for java.time.LocalDate"
Apparently there isn't any for this, just regular date but that class has his own problems and I try to avoid it when I can.

[2019-04-12 06:11] codingricky commented on #340
I've made some changes to lazy load the values (https://github.com/DiUS/java-faker/commit/06ece7024843c64b5153c811ccd5dc10568fc790).. do you want give it a try and see if it's any faster? It's the version that is on master

[2019-04-12 16:32] josepj commented on #340
@codingricky, much better! 👍

**0.17.3-SNAPSHOT:**
[code]

**0.17.2:**
[code]

[2019-04-21 20:23] manueljordan opened #377 "Add some lastnames with ñ for "es" and "es-mx""
Testing this powerful library.

How a friendly suggestion, about `last names` for `es` and `es-mx` consider to add the following:

* Nuñez
* Castañeda
* Ibañez
* Zuñiga
* De Romaña
* Ormeño

Consider the scenario about a web app using a `text field` with `auto complete` (working with `ajax`), it for 1 to 3 characters working around the `ñ`

Therefore we have more data to be filtered and retrieve.

[2019-04-23 02:17] manueljordan commented on #31
Some addition or improvement for the next release? it is very valuable to generate the most real data

[2019-04-23 02:27] manueljordan opened #378 "For Address generate city according the country"
Is possible to consider add the way to generate a random city according a generated random country?

I mean, the following is incorrect:

* Italy, Lima
* USA, Moscu
* Rusia, Rio de Janeiro

Should be:

* Italy, Rome
* Peru, Lima
* Pery, Arequipa
* USA, New York
* USA, Miami
* Argentina, Buenos Aires
* Chile, Arica

Thanks for your understanding

[2019-04-23 02:35] manueljordan opened #379 "For Name (Person) generate gender according random name"
Hello

Is possible to consider generate the gender according the generated first name?

The following is incorrect (ignore the last name part):

* Maria, Perez, male
* Tony, Fernandez, female
* John, Wilson, female
* Robert, Long, female
* Alison, Waters, male

Should be:

* Maria, Perez, female
* Tony, Fernandez, male
* John, Wilson, male
* Robert, Long, male
* Alison, Waters, female

Thanks for

[2019-04-23 03:43] codingricky commented on #378
That’s not a trivial thing to add and I don’t think it’ll be added in the short term.

[2019-04-23 12:51] manueljordan commented on #378
Thanks for the feedback, again just was a friendly request

I understand the situation

[2019-04-23 16:46] manueljordan opened #380 "Let for the phoneNumber() and cellPhone() methods put a format"
I am playing a lot with this wonderful library, thanks for this tool

Well, I am working in peace until some point with:

* `faker.phoneNumber().cellPhone()`
* `faker.phoneNumber().phoneNumber()`

Just curious if I can **set** the _phone number_ or _cell phone_ **format** prior to be generated to the following patterns:

* `######` (possible in someway just with `faker.numerify("######")`)
* `##-#

[2019-04-23 18:18] josepj commented on #372
Meanwhile, you can convert the java.util.Date object to a java.time.LocalDate object.
[code]
Reference: https://stackoverflow.com/a/21242111/7061377

[2019-04-23 18:21] josepj commented on #379
This will be a nice addition to have.

[2019-04-25 01:34] randysecrist commented on #298
This no longer seems to be a problem now that there has been a release > 0.15.  Closing.

[2019-04-25 01:34] #298 closed

[2019-04-25 20:48] kellerj commented on #380
@manueljordan  You may want to take a look at the data underlying this API.  It was not designed for arbitrary digits with a regex-like pattern.  I too would like to be able to specify a format, but my need is mainly for delimiter differences.

Take a look at this file in the project: `src/main/resources/en-US.yml` and search for `phone_number`

I'm assuming those formats are common to a non-US co

[2019-04-26 08:04] DenisKozachok opened #381 "Method faker.number().digits(7)) return less than the number of characters passed in the parameter"
**Steps reproduce:**
1) Call method  testNumberDigitMethod();

**Expected result:**
All values are equal to the number of characters passed in the parameter

**Actual result:**
Return less than the number of characters passed in the parameter

**Test method:**
[code]

**Return value:**
[code]

[2019-04-30 02:02] codingricky commented on #379
similar to the change around cities and countries.. this is a non trivial change... I don't see this being added anytime soon..

[2019-04-30 02:03] #367 closed

[2019-04-30 02:09] codingricky commented on #381
It returns a string... the string should be the length of the digit passed in.. I think as you're converting the value to an Integer anything that has a leading zero will be lost so it'll appear shorter in length.. @DenisKozachok does that make sense?

[2019-04-30 13:18] manueljordan commented on #380
Hello @kellerj , yes, I saw that file, sadly in my country the patterns numbers change for each city. It about two important things:

* Size, for my city is maximum 6 digits, in other cities, 7 digits
* The two first numbers varies according the cities, in my city would start with 23, 44, 25, and in other cities with 66, 65.

And even more, would be: (054)-226711 or (051)-2588769

Thus I need set

[2019-05-01 16:20] haruntuncay commented on #360
Hi @codingricky,
I believe this issue and issue#282 can be safely closed now, since you have merged the PRs that addressed them.

[2019-05-03 04:52] #381 closed

[2019-05-03 04:53] #359 closed

[2019-05-03 12:31] goxr3plus opened #383 "How can i generate random gender ?"
Like `male`, `female` , `other` .

[2019-05-04 17:01] hsluoyz opened #384 "UserAgent related code is not compiled into the Maven package"
I'm using latest 0.17.2:

[code]

But I found the useragent related function: ``faker.internet().userAgentAny()`` is not found. I decompiled the ``Internet.class" of 0.17.2:

C:\Users\xxx\.m2\repository\com\github\javafaker\javafaker\0.17.2\javafaker-0.17.2.jar!\com\github\javafaker\Internet.class

[code]

This is not the same as the latest source code in this GitHub repo:

https://github.com/DiUS

[2019-05-05 23:37] codingricky commented on #384
It was added in after version 0.17.2.

[2019-05-05 23:37] #384 closed

[2019-05-05 23:38] codingricky commented on #383
There's no function for that atm.. feel free to submit a PR.

[2019-05-05 23:38] #383 closed

[2019-05-06 01:11] hsluoyz commented on #384
@codingricky are we planning to make a new release like ``0.17.3``? So we can import the latest code in Maven.

[2019-05-06 20:33] Ryuuji159 commented on #372
I know I can do it that way but that transformation a litte ugly to my taste, so if it where natively in the library, at the moment i have a wraper for that part

[2019-05-09 13:36] haruntuncay commented on #379
Hi @codingricky,
I would like to help implement this feature and wanted to ask if you have any design suggestions on how this issue should be tackled.
Thanks in advance.

[2019-05-11 02:57] codingricky commented on #384
@hsluoyz `0.18` has been released which should contain the method you are looking for.

[2019-05-11 10:53] hsluoyz commented on #384
Thanks. It works!

[2019-05-13 15:11] manueljordan opened #386 "Let Java Faker generates Blood Type"
Hello

How a friendly suggestion, consider the scenario about systems working with person forms and health systems, where blood type is need it.

I would expand the request to include ills too.

I like this tool

[2019-05-28 13:31] edno commented on #378
I had the same question, and I've built a locale solution that looks like the following:
[code]

[2019-05-30 14:11] avanathan opened #389 "How to generate invalid phone number?"
How to generate invalid phone number or any `invalid` faker data for testing?

[2019-06-07 13:20] sachsgit opened #390 "Ant Script/Build Instructions"
Feature Request
---

Instructions for creating a JAR file (on your own) is available at [Eclipse Help](https://help.eclipse.org/kepler/index.jsp?topic=%2Forg.eclipse.jdt.doc.user%2Ftasks%2Ftasks-33.htm) and I need to *play around* with the settings to get things to work. I am not sure I am using the best settings. Nor am I consistent.

Has someone created an Ant script or such, to automate the JAR

[2019-06-07 15:58] TGITS opened #391 "Offer the possibility to generate a top and second level domain for a company"
This is a feature request. The idea is to offer the possibility to generate consistent top and second level domain for a company, in order to be able to generate fake email addresses or fake URL, consistent with the other component generated for a given Company.

[2019-06-17 13:39] ShahBinoy opened #392 "Faker not working on GraalVM/Quarkus"
I am trying to run it on GraalVM/Quarkus, but the application does not respond on Quarkus.
The following code `hangs at fakeAdd.cityName()`

[code]
I added the file `reflect.json`

[code]
to add to custom reflection via `-H:ReflectionConfigurationFiles=reflect.json` but no avail.

Any other hints on how to fix it would be helpful

[2019-06-19 14:46] #390 closed

[2019-06-19 14:47] sachsgit commented on #390
I discovered jardesc and that is what I was after.

[2019-06-19 14:52] sachsgit opened #394 "RunTimeException: {} results in null expression"
I tried to compile my own jar file and when I try to use it, I get:

my code is
[code]
I am using
[code]

I have debugged the code and the "fault" seems to be with:
```FakerValuesServices.java:211    currentValue = ((FakeValuesInterface) currentValue).get(currentPath);```

where `currentPath` is `name` and should allow the name.yml to be accessed.
Instead, it returns `null`

Can anyone tell me wha

[2019-06-20 12:23] alexcom opened #395 "Consider giving up on snake yaml dependency"
Greetings

Recently I  had some dependency issues related to snake yaml and was surprised that such small library uses this unnecessary dependency just for reading resource files. IMHO there's no reason to bring yaml parser transitively into another people's projects. I suggest you to eventually modify java-faker's code to discard this dependency. There's a number of options to chose from. You can

[2019-06-20 16:29] serhiiperfectial commented on #380
Hi, is there an option to generate fake cellPhone() that will contain country code all the time?

[2019-06-21 01:39] juanmbellini opened #396 "Number#numberBetween(int, int) does not work as expected"
The `Number#numberBetween(int, int)` javadoc indicates that its behaviour is the same as `Number#numberBetween(long, long)` (in which it states that the max value is exclusive).
The issue is that the int version of the method might return the max value (which should be exclusive).

This happens because the method uses `decimalBetween`, which returns a `BigDecimal`, and then sets the scale to `ROUN

[2019-06-21 01:52] juanmbellini commented on #396
As a workaround, you can do the following:

int min = 0;
int max = 10;
[code]

The `Number#numberBetween(long, long)` method does not change the scale, so the `BigDecimal` is truncated.

[2019-06-25 13:22] dadoonet commented on #378
Speaking of this and even more scary, I'd love to have geo points rightly located depending on the country or city is set.

[2019-06-25 13:32] manueljordan commented on #378
For our consideration:

* [World Cities List](https://github.com/pluwen/World-Cities)
* [Country List](https://github.com/umpirsky/country-list)

[2019-06-29 04:01] codingricky commented on #395
I take your point but I feel having it in yaml keeps things simple especially when you can use yaml files from the original ruby faker library.

[2019-06-29 04:01] #395 closed

[2019-06-29 04:03] codingricky commented on #394
which version are you using? you seem to have 0.18.1

[2019-07-01 01:30] sachsgit commented on #394
I forked the project, pulled the latest code base, added some personal additional code.
I ran all the JUnit tests, which all passed.
I created a jar file using the above jardesc file, and tried to use it in another project area.
That is where the error come from. It works within the project, but not as a jar file.

[2019-07-02 17:20] mhp0rtal opened #399 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/com/github/javafaker/Crypto.java: Line number => 35: API name => MessageDigest:<BR> File name => src/main/java/com/github/javafaker/Crypto.java: Line number => 32: API name => MessageDigest:First parameter (with value "SHA-1") should be any of {SHA-256, SHA-384, SHA-512}<BR>

[2019-07-11 11:43] kitherill opened #402 "Add Faker class constructor with FakeValuesService as argument"
For my current task I need both Faker class and 'lower level' FakeValuesService (in order to access values nation.yml). FakeValueService initialised in Faker class is package-visible, so I have to create another instance of FakeValueService, while ideally I would want to pass predefined FakeValueService instance to Faker so that it is reused.

[2019-07-16 20:18] MarcelHeemskerk opened #403 "Countrycode CZ is not supported for IBAN generation"
`new Faker().finance().iban("CZ");` not supported, even though Czech Republic is in the IBAN zone (see https://www.swift.com/standards/data-standards/iban )

[2019-07-19 12:33] codingricky commented on #402
Sorry I don't quite follow what you're trying to do, could you please supply some code to illustrate your point?

[2019-07-19 14:58] kitherill commented on #402
@codingricky

[code]

[2019-07-20 01:10] codingricky commented on #379
Sorry for the delay but I feel there's only 2 options.

1. Use a 3rd party library/web service/api to determine the gender given a name.. so fetch a random name, ask for the gender of that name, if that's not right, then try again. I think there are significant negatives to introducing a dependency on a 3rd party web service
2. Tag all the names with a gender, too much manual work I feel for this

[2019-07-20 01:14] codingricky commented on #402
@kitherill can't you just create a wrapper class like `Nation` and use that to get access to values in `nation.yml`? You could create a PR and submit it

[2019-07-20 01:16] codingricky commented on #392
Sorry I'm not familiar with Quarkus

[2019-07-20 01:16] codingricky commented on #386
Feel free to submit a PR

[2019-07-20 01:17] #340 closed

[2019-07-20 01:18] codingricky commented on #372
I'm trying to keep compatibility with 1.6 for as long as I can and since `LocalDate` was introduced in 1.8 it would break that.

[2019-07-20 01:18] #372 closed

[2019-07-20 01:22] codingricky commented on #389
I guess it depends what you mean by invalid data.. like you could try using a `firstName` for a `country` for eg.

[2019-07-20 01:22] #389 closed

[2019-07-20 01:22] codingricky commented on #394
Sorry I'm not sure I can help you in this case, I'm not sure what you've changed.

[2019-07-20 01:22] #394 closed

[2019-07-20 01:24] #392 closed

[2019-07-20 01:29] codingricky commented on #399
This is only used for generating fake data so it doesn't matter if we're using an outdated algorithm.

[2019-07-20 01:29] #399 closed

[2019-07-20 06:39] codingricky commented on #371
Fixed with https://github.com/DiUS/java-faker/pull/404

[2019-07-20 06:39] #371 closed

[2019-07-20 06:43] #360 closed

[2019-07-20 06:43] #282 closed

[2019-07-20 07:38] haruntuncay commented on #379
I also thought that this seems like the only option based on the current structure.
Maybe we could generate a python script that uses 3rd party services via http to determine whether a name is male/female name and re-structure the yaml file automatically. This would help us avoid adding a dependency to the project and keep trying until it is right, as the first option describes.

Of course, we wou

[2019-07-20 14:05] manueljordan commented on #379
Hello

I think it is the right path (even when at a first glance is verbose - it is), because it can be applied in some way for `Country` to `City` correct generation, and `cellphone/phone` correct random generation according a city (size of numbers and how they should start).

The point is implement this smoothly how a main factory to be applied for other extensions. Thus the .yml files would wor

[2019-08-07 21:49] arturmkr opened #414 "Get Random YouTube video"
Example:
https://random-ize.com/random-youtube/
https://ytroulette.com

[2019-08-12 17:44] egoetschalckx commented on #402
I've added a branch for this feature called `add-nation` and opened a PR (https://github.com/DiUS/java-faker/pull/416)

[2019-08-12 18:47] egoetschalckx commented on #391
Is this for DNS subdomains like `eric@finance.yahoo.com` and `https://finance.yahoo.com`, where `finance` is the "second-level domain"?

[2019-09-03 03:40] kentkrantz opened #431 "Can java-faker provide long article generator?"
It will be great if it supports long String articles, we need it, thank you!

[2019-09-11 13:22] schrek1 opened #433 "Price not respect set locale"
I set explicitly locale in the constructor
` Faker f = new Faker(Locale.ENGLISH);`
but if I call `f.commerce().price()` it returns number in computer locale format.

I think it is becouse in price is called  `new DecimalFormat("#0.00").format(price);` and inside it is called `Locale.getDefault` instead use preset locale in faker constructor...

[2019-09-11 17:52] LakshmiNagandla opened #435 "After setting my local still I could able to see currency code and phone number and country code are displaying as per Locale"
Code Description:

We have written sample below code in our application

Faker faker = new Faker(new Locale("en-IND"));

		String streetName = faker.address().streetName();
		String number = faker.address().buildingNumber();
		String city = faker.address().city();

		System.out.println("currency Code: "+faker.country().currencyCode());
		System.out.println("Address: "+faker.address().zipCode());

[2019-09-17 15:29] abbasqamar opened #438 "I want to Generate random disease name how can i ?"
I want to Generate random disease name how can i ? how can i customize the class or like i want to generate i want to generate only female name how can i ? kindly help me ASAP .. i m stuck in middle of the project thx

[2019-09-25 16:37] EmmanuelVinas opened #440 "Make it compatible with android"
**Is your feature request related to a problem? Please describe.**
I tried to use faker for a mock flavor in android 9 but got a crash

Can't initialize a Faker() due to that exception.
[code]

[2019-09-26 10:17] armandomonteiroptc opened #441 "Use the locale in String.formta()"
**Describe the bug**
Formatting string should benefit from the Faker (Locale.ENGLISH by default), otherwise a formatted string like the longitude or latitude, can be **_1.234567_** or **_1,234567_** depending in the Locale.

**To Reproduce**

Using a `String.format("%.8g", (faker.random().nextDouble() * 180) - 90);`
* depends on external JVM configuration
  * if Locale PT then **_1,234567_**.

Usi

[2019-09-27 16:31] jkoChen opened #448 "Pull request check failed"
I created a new branch from the master and only modified a yml file, but when I submit the pull request, the check failed. Pull request blew
[https://github.com/DiUS/java-faker/pull/447](url)

[2019-10-02 10:23] ganjarpanji opened #450 "Generate random passport number"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-10-04 12:42] uroshekic commented on #379
Hi, has there been any progress on this feature? If not, I'd like to work on this.

[2019-10-09 02:13] viswagb commented on #157
import com.github.javafaker . not working with below dependency ..

	//compile "com.github.javafaker:javafaker:0.11:deps"
	//implementation 'com.github.javafaker:javafaker:1.0.1'

[2019-10-09 02:15] viswagb commented on #157
this worked

[2019-10-20 09:15] medihack opened #454 "Initialization of Faker (v1.0.1) failing in Android Kotlin project"
Using Faker version 1.0.1 with an Android project (Android Studio, Kotlin Codebase, Java 8, Windows 10) I get the following error while initializing Faker (`val faker = Faker()`):

<pre>
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: tools.meaky.dearapp, PID: 11736
    java.lang.ExceptionInInitializerError
        at com.github.javafaker.Faker.<init>(Faker.java:111)
        at com.github.jav

[2019-10-20 09:30] OLEG4120 commented on #454
The same error as in 440?
https://github.com/DiUS/java-faker/issues/440

[2019-10-20 19:28] ch8n commented on #454
Hey, @OLEG4120 @medihack, I manually tried to import the library to android and I was able to initialize faker with `Faker()` object without any exception, for this, I had to convert maven project to Gradle project then import it into the android studio using Java module.

I'm new to open source contribution so can you help me out how I could put any procedure/code to make it running?

[2019-11-14 11:53] SebastianS90 opened #458 "number().numberBetween(int min, int max) does not generate max-1"
**Describe the bug**
#214 apparently was not solved correctly. `number().numberBetween(int min, int max)` still does not generate `max - 1`, depending on the value you pick for `max`.

**To Reproduce**
[code]

**Expected behavior**
It should print `found i-1` for all tested `i`. Actual output:

[code]

**Versions:**
 - OS: Arch linux
 - JDK: `openjdk version "11.0.5" 2019-10-15`
 - Faker Version `

[2019-11-26 09:50] BlankSergey opened #461 "birthday() method: sometimes return incorrect date"
**Describe the bug**
It is hardcode in birthday():

`       int currentYear = Calendar.getInstance().get(Calendar.YEAR);
        Calendar from = new GregorianCalendar(currentYear - maxAge, 0, 1);
        Calendar to = new GregorianCalendar(currentYear - minAge, 11, 31);
`

Because of it UI tests sometimes failed with incorrect date
For exapmle: now 2019-11-21
birthday(23, 65) returns 1996-11-26
It

[2019-12-06 05:12] astubbs opened #463 "Add access to whole data sets / entire data sets"
I want to be able to utilise the entire data set, e.g. do something with all hospital names

Something like:
Faker.instance().name().data().lastName(); // returns List<String> of all names
Faker.instance().eagerLoad(Locale.forLanguageTag("nl")).getDataSet(); // returns nested map of all loaded data set
Faker.instance().eagerLoad(); // returns nested map of every available data set (yes, ~slow (not

[2019-12-06 05:26] astubbs commented on #463
Awesome library BTW :)

[2019-12-31 13:43] DQinYuan opened #465 "Is `Faker` Object thread safe?"
Can share one `Faker` object for multi threads to generate data?

[2020-01-18 00:26] LuborVitek commented on #379
I think the way to solve this is to generate femaleName and maleName. It's even a bit more complicated for czech language where the last name is also gender specific.
And in name.yml there is a separation of names female_first_name and male_first_name
In case we would add female_last_name and male_last_name we would be set for all options and random gender generation would be a piece of cake.

[2020-02-05 12:58] fr4nk opened #468 "Implementing new class Gender"
**Faking gender ist not implemented**
Random gender can be used to 'genderify' first names (or even last name in languages like russian).
Was once requested in issue #383

**Solution: implement the missing class Gender**
The needed yaml file is already there.

I'm happy to take the challenge.

[2020-02-05 13:06] fr4nk commented on #468
YAML looks like this:

[code]
So I would implement methods `String type()` and `String binaryType()`.

[2020-02-08 22:49] codingricky commented on #468
I'd use the same interface as https://github.com/faker-ruby/faker/blob/master/doc/default/gender.md

[2020-02-08 22:53] codingricky commented on #465
I don't think so, I'm pretty sure the fact that the library is lazily initialised and there's no attempt at synchronisation would mean it's not thread safe.

[2020-02-08 22:53] #465 closed

[2020-02-10 08:21] mrspaceman opened #470 "CVE-2017-18640 - High Severity Vulnerability"
CVE-2017-18640 - High Severity Vulnerability
Vulnerable Library - snakeyaml-1.23.jar

YAML 1.1 parser and emitter for Java

Library home page: http://www.snakeyaml.org

Path to dependency file: /tmp/ws-scm/datahelix/core/build.gradle

Path to vulnerable library: /tmp/ws-ua/downloadResource_c5526757-2afd-4961-9fb2-8311b0585dfe/20200131152402/snakeyaml-1.23.jar,/tmp/ws-ua/downloadResource_c5526757-2

[2020-02-11 13:15] fr4nk commented on #461
Is this one not fixed with #459 ?

[2020-02-11 15:56] BlankSergey commented on #461
Fixed, thank you! :)

[2020-02-11 15:56] #461 closed

[2020-02-17 11:56] bodiam commented on #372
@codingricky Is there any reason at this moment to keep 1.6 compatibility? Even Android is on 1.8 now. It would be nice to be able to use the Java 8 time api.

[2020-02-18 14:05] jwatkinsdavid-scottlogic opened #474 "Resolving an expression that is a named composite of other fields throws exception"
**Describe the bug**
When calling the 'expression' method on the 'Faker' class using an expression that is a directive which is composed of one or more other directives within the fake definition YAML, (e.g. "#{job.title}"), the FakeValueService throws an exception:

[code]

**To Reproduce**

[code]

**Expected behavior**
The requested fake value is returned.

In the example above for 'job.title'

[2020-02-18 15:28] jwatkinsdavid-scottlogic commented on #474
This appears to only be an issue when the 'sub-directive' that is used is not prefixed with the appropriate 'owner' because the 'owner' is the same as the directive.

e.g. In name.yml:

[code]

If the above all contained a 'job' prefix then they resolve as expected.

When the 'owner' is different then the directive is prefixed and this works as expected.

e.g. In book.yml

`author: "#{Name.name}"`

[2020-02-19 21:47] thePantz opened #475 "Vehicle Faker"
**Problem**
I want a faker that generates vehicle data such as:
- Make
- Model
- Year
- VIN
- Mileage

**Solution**
- Implement the missing Vehicle class
- .yml file already exists

**Additional Details**

It appears that the work for this was done in PR #436 but is not in master. Is this a mistake? In a future release? or was there a decision to remove this?

[2020-02-20 20:28] nicoperrony opened #476 "Where can I add a specific french faker service"
Hi,

I want to add a faker service which is specific to french language (It's French TV serie's quotes). Cause is specific to a french language, where can add the ressource file ?

Should i create a "fr" folder to put the ressource file and create an FrFile class ? Or I just need to put the ressource file in "en" folder like for Witcher & co ?

Best regards

[2020-02-21 15:39] vikramsinghchandel commented on #386
Should this be closed as the PR is merged

[2020-02-26 14:23] lehtihet commented on #450
I'll start work on this issue.

[2020-02-27 12:23] lehtihet commented on #378
I'm working on this issue

[2020-02-28 06:29] thePantz commented on #475
Working on a new PR. I will reuse most of the previous PR but I have some thoughts:

- the .yml file has an entry for *manufacturer* and *make*. These are interchangeable in my opinion, I'm considering removing one entirely.
- Previous PR uses the following code to generate a model, This should return null if the make is not found instead of a validation message imo
[code]

- The previous PR uses

[2020-02-28 10:06] perfah opened #481 "Port coin class"
**Is your feature request related to a problem? Please describe.**

See the README.md file. There is a TODO: "Port more classes over as there are more entries in the yml file that we don't have classes for". It seems that this needs to be done for coin.yml

**Describe the solution you'd like**
Implementation of the class.

**Describe alternatives you've considered**
N/A

**Additional context**
Add

[2020-02-28 10:13] perfah opened #482 "Port basketball class"
**Is your feature request related to a problem? Please describe.**

See the README.md file. There is a TODO: "Port more classes over as there are more entries in the yml file that we don't have classes for". It seems that this needs to be done for basketball.yml

**Describe the solution you'd like**
Implementation of the class.

**Describe alternatives you've considered**
N/A

**Additional context

[2020-03-02 08:03] #476 closed

[2020-03-02 15:26] PaulLowenstrom opened #483 "Port bojack horseman class"
Is your feature request related to a problem? Please describe.

See the README.md file. There is a TODO: "Port more classes over as there are more entries in the yml file that we don't have classes for". It seems that this needs to be done for bojack_horseman.yml

Describe the solution you'd like
Implementation of the class.

Describe alternatives you've considered
N/A

Additional context
Add any

[2020-03-04 13:07] ArtRoman commented on #327
You should exclude library by artifact, not by group. In my case correct line is " { exclude module: 'snakeyaml' }".

[2020-03-13 13:35] wetHands04 commented on #481
I can try to do

[2020-03-18 14:51] irakatz commented on #313
Maybe we can try it.

[2020-03-19 12:39] mdentremont opened #486 "Regexify doesn't handle metacharacters inside of square brackets"
The following:
![image](https://user-images.githubusercontent.com/1106324/77068431-5db77780-69c5-11ea-8ce9-6db12861d621.png)

Should behave the same (or at least similar - I omitted some characters) to:
![image](https://user-images.githubusercontent.com/1106324/77068394-4b3d3e00-69c5-11ea-8ff2-12a605cd8c68.png)

It appears to get confused by the metacharacters at the beginning, and then applies th

[2020-03-22 18:41] ewefie opened #487 "Generated password does not meet the requirements"
I've spotted an issue while generating passwords with following code:

`
var faker = new Faker();
var password = faker.internet().password(8, 100, true, true, true); //(minLength, max Length, includeUppercase, includeSpecial, includeDigit)
`
Generated password does not always include a digit (about 1-2% results are incorrect).

Sample incorrect output:

- ^Ez!Wdi@
- *Wow$&pIkeK@*OF ("O" in this on

[2020-03-27 09:39] irakatz commented on #487
I have the same problem, we are trying to fix it.

[2020-03-27 09:46] ewefie commented on #487
I have analyzed the source code, and in my opinion, the generated password is too random, there is a pretty big chance of overwriting generated digits with special characters. In my project, I managed it by checking if the generated password meets my expectations before I use it.
`    private static String generateStrongPassword() {
        var password = new Faker().internet().password(8, 16, tru

[2020-03-27 10:05] irakatz commented on #487
This is a right solution. But in my opinion, I try to modify some source code to kill this problem.

[2020-03-27 10:07] irakatz commented on #487
Also, when I read the source code, another bugs happens. In src/test/java/com.github.javafaker/InternetTest. Its method "testPasswordMinLengthMaxLengthIncludeUpperCaseIncludeSpecialIncludeDigit()" tests the digit with
assertThat(faker.internet().password(10, 25, true, true, true), matchesRegularExpression("[a-zA-Z\\d!@#$%^&*]{10,25}"));
But actually I find the "\\d" is useless, it means the digit

[2020-04-01 14:38] daniel-frak opened #489 "Faker should allow loading external yml files"
**Is your feature request related to a problem? Please describe.**
I'm trying to extend Faker to generate some domain-specific data using yml files.
The only solution to this is proposed in #255. Unfortunately, that solution is only a hack and I consider it bad code. I should not have to hijack locale to inject my own definitions and I should be able to load more than one yml file.

The main probl

[2020-04-03 02:51] MichaelDrogalis opened #490 "Dynamic expression for Internet.userAgent throws obscure error."
**Describe the bug**

Using version 1.0.2, evaluating the userAgent expression throws an error that is hard to understand.

**To Reproduce**

[code]

Raises a `java.lang.ClassCastException`, where `java.util.LinkedHashMap cannot be cast to java.lang.String`.

**Expected behavior**

I see now that I can't evaluate this because it requires a parameter, but I'd expect this to fail like any other bad

[2020-04-06 12:32] clarenced commented on #433
Hi same problem here, great correction. Did you propose a Pull request about this issue ? @schrek1

[2020-04-20 06:23] wimdeblauwe commented on #475
I could use this. Any plans to put this in a next release?

[2020-04-22 12:03] maxtar commented on #441
Yes we have the same problem. Locale ignored for String.format().

[2020-04-28 07:24] amedvedjev opened #494 "Cant generate address by Locale"
**Describe the bug**
I am trying to generate fake address data by country using supported locales.

**To Reproduce**
[code]

**Expected behavior**
Real address data per selected locale.

**Result**
Random data.
[code]
**Versions:**
 - OS: macOS 10.15.3
 - JDK: 1.8.0_231-b11
 - Faker Version: 1.0.2

[2020-05-04 03:35] irakatz opened #497 "testHungarianZipCodeByState() sometimes failed."
**Describe the bug**
"testHungarianZipCodeByState()" sometimes failed.
**To Reproduce**
If we increase testing times, this can be reproduced. For example

    @Test
    public void testHungarianZipCodeByState() {
        for(int i=0;i<10;i++){
            faker = new Faker(new Locale("hu"));
            assertThat(faker.address().zipCodeByState(faker.address().stateAbbr()), matchesRegularExpressio

[2020-05-06 18:58] siutin opened #498 "Throwing Error when generate a fixed length internet password"
**Describe the bug**
Trying to generate a fixed length password include uppercase, special characters and digits.

**To Reproduce**
[code]

**Expected behavior**
Return a password correctly

**Result**

[code]

**Versions:**
 - OS: Ubuntu 20.04 LTS
 - JDK 11.0.6
 - Faker Version 1.0.2

[2020-05-07 09:21] XiShao-art commented on #468
implement methods of gender
[add_gender.zip](https://github.com/DiUS/java-faker/files/4591997/add_gender.zip)

[2020-05-14 07:26] LakshmiNagandla opened #521 "Firefox instances are not opening more than 5 inside container in docker."
**Describe the bug**
Firefox instances are not opening more than 5 instances inside container in docker

**To Reproduce**
To open firefox browser we have used below version of the code

Docker command:
--------------------------
docker run -d -p 5903:5900 --link selenium-hub:hub -v /dev/shm:/dev/shm -e NODE_MAX_INSTANCES=15 -e NODE_MAX_SESSION=15 selenium/node-firefox-debug:3.141.59-20200409

Desi

[2020-05-19 03:36] JinquanPeng commented on #497
I think the bug is caused by the function `Yaml.loadAs()`. It treats `NO` as `false`.  So the program cannot find the key `NO`.

[2020-05-25 19:30] schallerala commented on #489
I partly agree with you. That the control around additional files is a bit lacunar, as it is hard-coded, and also only for the _root_ English Locale.

However, you aren't constrained to use the Faker class as is. You could extend it, and extend its _provider_ to resolve a new key that you would declare in your Yaml file.

Faker extension:
---
[code]

Name _provider_ extension:
---
[code]

My local

[2020-05-25 19:46] schallerala commented on #435
To give a hand to the author of this repo, I believe he doesn't every single country around the world and each specificity of every l.

Therefore, if I were you, I would suggest a pull request to help other users of the repo using the same locale as you.

In the meantime, your future pull request getting accepted (😉 ), you can specify your own locale files in your project resources and override th

[2020-05-26 06:15] schallerala commented on #489
To get back on the management of additional files like in [EnFile](https://github.com/DiUS/java-faker/blob/master/src/main/java/com/github/javafaker/service/files/EnFile.java), how would you, OP, @daniel-frak, implement a different approach?

Annotation on provider class? An interface to extend for each provider?

Then when loading the values, look for those with reflection?

[2020-05-26 08:50] daniel-frak commented on #489
Regarding the proposed code, as far as I remember this will not work if the locale is set to default and so does not solve the problem. I know that I can extend Faker but I cannot make it resolve a definition which it did not load.

My main issues are that the locale needs to be "hijacked" in order for the custom yml to be resolveable (as per #255) and that it seems impossible to spread custom def

[2020-05-26 08:55] daniel-frak commented on #489
To somewhat simplify the above, I'm imagining a `DefinitionResolver` interface implemented by a `DefinitionFileResolver` class, which would load all `.yml` files in a given folder (say, `src/resources/faker` by default) and resolve locales only via the root key in the file (e.g. `en:` in the default EnFile files).

This would enable a user to have a single folder for all definitions but would give

[2020-05-27 03:03] irakatz opened #533 "How about adding some test cases to increase coverage?"

[2020-05-27 22:26] baronialexandre opened #538 "Typo in a French city name"
/src/main/resources/fr.yml line 10
"Dunkerque14" should just be "Dunkerque"

[2020-05-28 07:36] e1m7bo opened #540 "java.lang.RuntimeException: Unable to resolve #{street_name} directive when using de_AT locale"
**Describe the bug**
Following exception thrown:

java.lang.RuntimeException: Unable to resolve #{street_name} directive.
com.github.javafaker.service.FakeValuesService.resolveExpression(FakeValuesService.java:360)

when invoking
faker.address().streetAddress()

on de_AT

**To Reproduce**
new Faker(new Locale("de", "AT").address().streetAddress()

**Expected behavior**
Correct StreetAddress should

[2020-05-28 07:38] e1m7bo commented on #540
Is there any workaround of this problem available?

[2020-05-28 09:05] e1m7bo commented on #540
Ok, I've found the problem. I've ovveriden Faker class by providing my own implementation of Address   class - class name FakeAddress. It was a problem for faker because FakeValueService reads class name to find corresponding YML file with data.

[2020-05-28 09:05] #540 closed

[2020-05-31 08:48] ZJ-Ye commented on #361
#508

[2020-06-14 16:47] schallerala commented on #521
How is this related to this project?

[2020-06-14 17:53] schallerala opened #558 "Maintaining compatibility with Java 1.6"
**Is your feature request related to a problem? Please describe.**
It is indirectly related to a problem. The _problem_ is for future contributions. It puts the community a strong limitation, as the Java community is mainly working with Java 8 and higher.

Also, a question to the _ruling_ contributors. Why put this JDK 6 limitation, when in the Travis CI, it isn’t running tests with this Java vers

[2020-06-14 19:34] schallerala commented on #489
Would you then declare `DefinitionFileResolver` as a singleton?

What about its methods? Add a `loadValues` like in `FakeValues` which you pass the class of the `provider` so you know where to look for the Yaml file?

Don’t believe you/we could change the location of the Yaml files, as there are so many ongoing PR or it would also break so many users’ source code if we move them. Therefore, if you

[2020-06-15 08:32] daniel-frak commented on #489
I would declare `DefinitionFileResolver` as a POJO injected via Faker's constructor. Additionally, the no-args constructor would `new` it (as it is done now with other dependencies) for ease of use and backwards compatibility.

The interface would provide a complete collection of fake values, which I believe to be `FakeValuesInterface` implementations (though I'm not sure, it's been a while since

[2020-06-15 21:04] schallerala commented on #489
I wouldn't recommend separating the path from the strategy construction, as the path would be specific to that strategy.
Like you said, other loading strategy, getting values over a REST API for example, would need different configuration parameters
as the one looking for files.

The question was about the following problem: _Your suggestion wouldn’t be flexible enough to have different loading st

[2020-06-22 03:36] Tavo5691 commented on #538
Hi, I took the liberty of opening a PR with the fix #559

[2020-06-23 21:48] Tavo5691 opened #560 "Is this repo still active?"
Hi, I'm sorry if this is not the place to ask this.

Is this repo still being actively maintained? There are a lot of open pull request and issues.

This is a very useful library, let us help improve it.

[2020-06-30 07:57] jmizv opened #562 "Country name of Côte d'Ivoire is broken in resource file."
**Describe the bug**
The country name of Côte d'Ivoire is broken in `resource/en/country.yml`

![grafik](https://user-images.githubusercontent.com/37914724/86099444-c67bb900-bab7-11ea-911f-e02ae8772d5d.png)

**To Reproduce**
You need to generate several country names.

**Expected behavior**
Expected was the name: `Côte d'Ivoire`

**Versions:**
 - OS: OSX
 - JDK 1.8
 - Faker Version 1.0.2 / but als

[2020-07-01 09:41] #482 closed

[2020-07-01 09:51] codingricky commented on #558
It’s for Android compatibility.

[2020-07-01 09:53] #533 closed

[2020-07-01 11:43] Tavo5691 commented on #560
I'm closing this myself as I see @codingricky merging and commenting around. Nice to have you back 👍

[2020-07-01 11:43] #560 closed

[2020-07-01 12:10] #483 closed

[2020-07-01 12:11] #497 closed

[2020-07-01 12:16] #521 closed

[2020-07-01 12:17] #538 closed

[2020-07-01 12:18] #481 closed

[2020-07-03 11:38] Samyssmile commented on #327
This solved it for me

`    implementation ('com.github.javafaker:javafaker:1.0.2') { exclude module: 'org.yaml' }
    implementation group: 'org.yaml', name: 'snakeyaml', version: '1.26'`

But dirty workaround anyway.

[2020-07-06 07:31] #558 closed

[2020-07-06 07:40] #438 closed

[2020-07-06 07:47] #468 closed

[2020-07-08 20:29] jmizv commented on #562
I have created a PR for this issue: https://github.com/DiUS/java-faker/pull/563
Please review. Thanks :)

[2020-07-17 11:11] #562 closed

[2020-07-22 10:17] RockyMM commented on #470
New version of snakeyaml is released which mitigates the CVE, thanks to the community.

I can provide a patch for pom.xml with updated dependency

[2020-07-22 10:20] RockyMM commented on #327
@Samyssmile what you did should be solved with #470

[2020-07-23 04:27] poovaraj opened #564 "Exception in thread "main" java.lang.NoSuchMethodError: org.yaml.snakeyaml.Yaml.loadAs(Ljava/io/InputStream;Ljava/lang/Class;)Ljava/lang/Object;"
**Bug**

The below error message is displayed while running java code.

Exception in thread "main" java.lang.NoSuchMethodError: org.yaml.snakeyaml.Yaml.loadAs(Ljava/io/InputStream;Ljava/lang/Class;)Ljava/lang/Object;
	at com.github.javafaker.service.FakeValues.loadValues(FakeValues.java:73)
	at com.github.javafaker.service.FakeValues.get(FakeValues.java:49)
	at com.github.javafaker.service.FakeVal

[2020-07-30 11:49] Diboiza opened #566 "Fix "en-ZA" ID number is invalid"
**Describe the bug**
ID number for Locale "en-ZA"
produces id in format ###-##-####
instead of "en-ZA" formart:
id_number:
      formats: ["##########08#"]

**To Reproduce**
new Faker(new Locale("en-ZA").idNumber().valid()
new Faker(new Locale("en", "ZA").idNumber().valid()

**Expected behavior**
ID number to be in formats: ["##########08#"]
E.g 8904115234088

**Versions:**
 - OS: Winsods
 - JDK 1

[2020-08-02 14:07] poovaraj commented on #564
It is working after adding below dependency

           <dependency>
			<groupId>org.yaml</groupId>
			<artifactId>snakeyaml</artifactId>
			<version>1.23</version>
		</dependency>

[2020-08-02 14:07] #564 closed

[2020-08-04 19:41] remal opened #568 "Invalid YAML file - /en/house.yml"
`en.faker.house.furniture` has incorrect value: `armchair"` (without opening quote). I suppose it should be `"armchair"`.

https://github.com/DiUS/java-faker/blob/59d661eaaeaa0d507fc89b9c4ce974a229678efe/src/main/resources/en/house.yml#L4

[2020-08-28 12:05] Borhan-BS23 opened #571 "Mexican CURP Generator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-07 08:07] tjohnson-scottlogic commented on #470
Hi @codingricky, is it possible to create a build 1.0.3?  We're using java-faker on the [datahelix](https://github.com/finos/datahelix) project and would love a build that includes this fix :)

[2020-09-14 21:14] randysecrist commented on #489
I just tried adding a customer file today; ran into the same issues.  I would really like to see this done soon.  Do you all need some help?

[2020-09-14 21:31] sambernet commented on #470
We are waiting for a release because we are also suffering from the problem fixed in #457 (merged July 6) - so a release would be highly appreciated here, too 😃

[2020-09-15 06:59] tdilber opened #572 "How Can I Get All Expressions List"
I want to build a generic random value filler in an infrastructural project. I want to fill object with most related expression with object field names. So I need all expressions list. I try to debug in project but i didn't find. Can u help me.

U can write all expressions in answer or U can add faker.getAllExpressionList() (return List<String>) in project.

Thank u for your help.

[2020-09-15 13:52] daniel-frak commented on #489
I needed a solution at the time and unfortunately couldn't spend more time on discussing a Faker-specific solution, so I created my own dummy data generator, which eventually evolved into Dummy4j:
https://github.com/daniel-frak/dummy4j

Sorry if this seems a bit selfish, but I didn't have much choice at the time and I do believe that Dummy4j's focus on extensibility makes it differ from Faker in a

[2020-09-15 13:56] randysecrist commented on #489
@daniel-frak Thanks for sharing.  Faker isn't a requirement for me so ... I will certainly check dummy4j out.  I find myself writing a lot of things that look like this:

[code]

And would like to categorize and classify things.

[2020-09-17 08:11] tdilber commented on #572
I found in code with searching ".resolve(". Some resolves throw exception so I write new resolve method for all fakerResolveCommands.

it's work in 1.0.2 version.

`RandomService randomService = new RandomService();
        fakeValuesService = new FakeValuesService(new Locale("en-US"), randomService);
        faker = new Faker(fakeValuesService, randomService);
        fakerResolveList = new Array

[2020-09-17 08:12] #572 closed

[2020-09-21 06:21] lauratpa opened #575 "StarCraft Faker test fails on planet names with apostrophe"
Last two builds on CI have failed due to failing StarCraft test.

The test wants to make sure there are no leading/trailing whitespace in the given values, but also ends up checking whether the words given have only approved values. Apostrophe is not in those approved values, but there are planet names like "Demon's Fair" and "Ash'Arak" in the values. I assume the regex should also pass this names

[2020-09-29 07:47] raman-nbg commented on #470
I applied a workaround until a new version is released. Just exclude the outdated dependency and include it in its newer version:

[code]

[2020-10-06 13:06] gurudattgd04 opened #578 "Company.name throws java.lang.RuntimeException: Unable to resolve #{suffix} directive"
**Describe the bug**
I pass the faker key from json file and then get value for it. Using company.name is throwing java.lang.RuntimeException: Unable to resolve #{suffix} directive error often. Sometime it works and sometime it throws the exception

**To Reproduce**
use the company.name faker, run couple of times and you get exception

**Expected behavior**
Should return company name

**Versions:*

[2020-10-20 00:39] Tavo5691 commented on #402
Maybe we should close this issue, @egoetschalckx 's PR has already been merged.

[2020-10-20 02:56] Tavo5691 commented on #498
I looked at @JinquanPeng 's  solution but I think a better solution would be to modify RandomService.nextInt so it defaults to 0 if the given number is less than 1. That way we can avoid the IllegalArgumentException.

I've opened a PR with the fix #580

[2020-10-20 04:49] Phantom75 opened #581 "Improve de-CH"
**Is your feature request related to a problem? Please describe.**
de-CH does not have German translations and Swiss specifics

**Describe the solution you'd like**
de-CH should generate Swiss specific fakes

**Describe alternatives you've considered**
added it to the file and ready for PR.

**Additional context**
Made code changes ready for PR.

[2020-10-21 02:36] Tavo5691 commented on #454
Hi @medihack, is this still an issue for you?

Version 1.0.2 should contain PR #443 which should have fixed the problem. Please try to confirm so we can close the issue.

[2020-10-21 13:25] medihack commented on #454
Seems to work, thanks! Closing the issue.

[2020-10-21 13:25] #454 closed

[2020-10-21 18:44] Tavo5691 commented on #440
Hi @EmmanuelVinas, your PR seems to have fixed the issue and is included in version 1.0.2.

Maybe we can close this issue.

[2020-11-02 12:48] arturmkr opened #584 "Internet.password doesn't always return expected value"
**Describe the bug**
Internet.password method doesn't always return expected value.

**To Reproduce**
[code]

**Expected result**
Every password variable must contain symbol in lowerCase, special character, digit, have length from 8 to 16.

**Actual result**
Not all password variables contain digit and special character:
[code]

**Versions:**
 - OS: macOS Catalina 10.15.7
 - JDK: 11.0.6
 - Faker V

[2020-11-02 14:32] arturmkr opened #585 "Add ability to init special characters"
**Problem:**
Currently, special characters are hardcoded.

**Solution:**
It would be great if it would be possible to init / set / reload special characters.

**Code, where special characters are used:**
[code]

[2020-11-09 09:05] patou opened #587 "Generate Java Time Random Date"
**Is your feature request related to a problem? Please describe.**
With a java 8+ project we must convert Date to LocalDate, LocalDateTime, ...

**Describe the solution you'd like**
The faker should return java time object instead of java Date.
[code]

**Describe alternatives you've considered**
The actual code is :
[code]

**Additional context**
The lib must change to be build with java 8 SDK (th

[2020-11-16 07:04] lizhenying0205 opened #588 "No support for Chinese ID No"
Before the Issues mentioned that do not support China's ID number, see a repair, but now try or not

Faker faker = new Faker(new Locale("Zh-CN"));
String idNo = faker.idNumber().valid();

532-86-1023
666-11-8871
506787-6192
110809+8144
007-70-3785

[2020-11-19 07:44] Cordifhyura opened #589 "Faker cannot be resolved in jsp"
at first it reports

I changed importation to <%@ page import="com.github.javafaker.*" %>

then it reports

while I run those Faker code follow in a java program it's all green

`<%@ page import="java.util.Map" %>
<%@ page import="java.util.HashMap" %>
<%@ page import="com.github.javafaker.Faker" %>
<%@ page import="java.util.Locale" %>
<%@ page import="com.alibaba.fastjson.JSON" %>
<%@ page impor

[2020-11-20 13:05] SonaliSammy commented on #327
This issue is fixed with version 0.18 of Javafaker

[2020-11-23 15:26] vinz486 commented on #327
I'm still having this issue with javafaker 1.0.2

[2020-11-24 00:36] SonaliSammy commented on #327
i checked with Javafaker 1.0.2 version after your message. I don't get issue in that version even. i was facing issue with javafaker 0.14. with Upgrade my problem got resolved.  Javafaker 1.0.2 they use both snakyaml 1.2.3 and snakeyaml 1.2.3-android.

[2020-11-24 08:48] vinz486 commented on #327
Hi,
try to include javafaker as lib in another lib. Then try to use that lib in
a project referencing it by maveLocal.

Gradle complains about missing snakeyaml android: probably the fix is not
working using Gradle on maven local.

Bye.

Il giorno mar 24 nov 2020 alle ore 01:36 Sonali Das <
notifications@github.com> ha scritto:

--

Mentire al software non è mai una buona idea.

[2020-11-26 09:03] egemenvardar opened #590 "Faker avatar image is broken"
**Describe the bug**
Avatar image does not work anymore. AWS returns the following error:
[code]

**To Reproduce**
- Go to [demo app](https://java-faker.herokuapp.com/)
- Copy & paste the avatar link in your browser

Sample avatar image link: https://s3.amazonaws.com/uifaces/faces/twitter/vc27/128.jpg

**Expected behavior**
Avatar images should work.

**Versions:**
 - Faker Version: 1.0.2

[2020-12-01 21:32] Jeff-Walker opened #591 "US ZipCode should be specific about 5 or 5+4 digits"
The en-US ZipCodes should be very specific on whether a five or nine digit ZipCode is generated. I work for the US Postal Service and it is a _very_ important distinction.

Propose
[code]

What I have to do:
[code]

**Versions:**
 - OS: Windows 10
 - JDK 11
 - Faker Version 1.0.2

[2020-12-01 21:38] Jeff-Walker commented on #587
Maybe using `java.time.temporal.ChronoUnit` would be a better fit. It would at least offer more possibilities, but the added complexity might be a non-starter.

`faker.localDate().past(6, ChronoUnit.MONTHS);`

[2020-12-07 14:02] Tarun275 opened #592 "Getting invalid zip code by state abbrevation"
![image](https://user-images.githubusercontent.com/28673477/101359898-e616d900-38c2-11eb-8add-a1d1b4e5d223.png)

[2020-12-17 13:31] juniorjrjl opened #596 "Add in pt-BR.yml, in state_abbr key MG abbreviation"
**Describe the bug**
In state_abbr don't have a MG abbreviation ( reference to Minas Gerais state), in state key already have Minas Gerais

**To Reproduce**
Look at in pt-BR.yml, in state_abbr key

**Expected behavior**
Include abbreviation in file

**Versions:**
 - Faker Version 1.02

[2020-12-31 09:28] RockyMM commented on #327
@vinz486 , please make a sample project where your problem could be reproduced.

[2021-01-11 05:20] #575 closed

[2021-01-12 15:35] Omer3160 opened #598 "fake food ingredient has no support to hebrew"
**Describe the bug**
fake food  ingredient has no support to hebrew

**To Reproduce**
public class DataFaker {
    private static final Faker faker = new Faker(new Locale("he"));

    public static Faker fake() {
        return faker;
    }
}

on other class :
fake().food().ingredient()
return value in english

**Expected behavior**
return value in hebrew

**Versions:**
 - OS: [e.g. OSX]
 - JDK 14

[2021-01-31 18:14] ayunas opened #599 "Unable to Add JAR to Vanilla Java Project"
**Describe the bug**
`Exception in thread "main" java.lang.NoClassDefFoundError: org/yaml/snakeyaml/Yaml`

**To Reproduce**

- Download the JAR file 1.0.2 from Maven - https://repo1.maven.org/maven2/com/github/javafaker/javafaker/1.0.2/javafaker-1.0.2.jar
- Add it to a Vanilla Java Project (No Maven)
- Instantiate a new Faker()

[code]

**Expected behavior**
I expected a random name to be returned

[2021-01-31 19:00] sachsgit commented on #599
Interesting...

Not tried to use Java-Faker without Maven before, and know I appreciate Maven more.

There are two dependencies that are needed to be added if you don't use Maven (which handles it for you).
You need to add "snakeyaml-1.23.jar" to your project, to solve "Exception in thread "main" java.lang.NoClassDefFoundError: org/yaml/snakeyaml/Yaml".

After which, I got "Exception in thread "ma

[2021-02-02 09:36] jvmlet commented on #489
Ugly hack via reflection till the issue is resolved  (to be inserted in the main class):
[code]

The `ReflectionUtils` class is from  `org.springframework.util` package

[2021-02-02 10:04] jvmlet opened #600 "Coherent fake object support"
It's impossible to generate the  fake object with coherent fields
Consider below `yml` file :

[code]

it would be great to be able to have :

[code]

[2021-02-13 18:16] PramodKumarYadav opened #603 "For testing, it would greatly enhance if there is inbuild option to provide locale as (random, provided, default) based on a value from config file."
**Is your feature request related to a problem? Please describe.**
For testing a application, there are a few use cases:
1. When I want to test my application with as many locales as possible. So say if I have 2 test classes with 10 tests in each; if each of those tests are running in parallel and they pick up a different random locale, that is awesome from a testing point of view.
2. When I want

[2021-02-15 00:02] saphemmy commented on #327
0.18 works suing maven

[2021-02-26 13:57] PramodKumarYadav opened #605 "Are there any guidelines that tells what all is I need to do to add say "lithuania" to the list of locales?"
**Is your feature request related to a problem? Please describe.**
We need to test with a few multiple locales (Greece, Lithuania, Spain etc) that are not currently available in the list of java locales. I like faker and thus would like to add these countries to the list of available countries. I however do not know, what all files, I need to touch, change, add to make this work.

**Describe the s

[2021-02-26 15:20] PramodKumarYadav commented on #255
@baubakg : Thank you for the detailed solution. This is exactly what I was looking for!

[2021-03-10 14:13] nanfang-wuyu commented on #578
Our gruop have looked carefully at your issue and we're interested. We will try to solve this problem.

--SE_CHWJ

[2021-03-10 14:13] nanfang-wuyu commented on #588
Our gruop have looked carefully at your issue and we're interested. We will try to solve this problem.

--SE_CHWJ

[2021-03-10 14:13] nanfang-wuyu commented on #486
Our gruop have looked carefully at your issue and we're interested. We will try to solve this problem.

--SE_CHWJ

[2021-03-10 14:13] nanfang-wuyu commented on #584
Our gruop have looked carefully at your issue and we're interested. We will try to solve this problem.

--SE_CHWJ

[2021-03-11 14:50] Juan-Chen45 commented on #494
Our group are interested in this issue, we will try to fix it.

[2021-03-11 14:53] Juan-Chen45 commented on #587
Our group are interested in this issue, we will try to fix it.
---- SE_Sustech

[2021-03-11 14:54] Juan-Chen45 commented on #391
Our group are interested in this issue, we will try to fix it.
---- SE_Sustech

[2021-03-12 12:16] Zhang-Muyang commented on #603
We'd like to try helping you with this issue  ：）

[2021-03-16 11:03] Jiapeng-Pei commented on #591
Hello! I'll be glad to solve your problem. There will be a pull request fixing this issue in 10 days.

[2021-03-18 15:13] YauheniPo commented on #487
@ewefie @irakatz Hi
please check my fix https://github.com/DiUS/java-faker/pull/607
Maybe it will resolve your issue

[2021-03-19 04:00] irakatz commented on #588
I believe it difficult to create a perfect fake ZH_CN ID.

To my knowledge a ZH_CN ID number consists of several parts.

The first six numbers indicate your birthplace, and the combination of these numbers is specific, not random (e.g., 999999 is impossible).

Then the following  numbers are birthday. Nobody will born in Feb 30th, please have a careful check.

Then last numbers are "random", but t

[2021-03-20 08:14] Zhang-Muyang commented on #590
May I ask that what would happen if clicking the link when it worked? Was it an image that appeared?

[2021-03-21 19:45] WHK102 opened #608 "Add fake email by seed"
Please, add a fake email feature, like as:

- `faker.email().random(String optionalDomain)`
- `faker.email().bySeed(@NotNull String seed, String optionalDomain)` (by example the fake name)

By example:

[code]

[2021-03-21 19:48] #608 closed

[2021-03-22 06:56] BravoChaoS commented on #598
Our group are interested in this issue, we will try to fix it.
---- SE_Sustech

[2021-04-03 21:55] Numichi commented on #380
Is this feature support to international phone prefix or numbers? I am thinking here of the plus sign.
https://en.wikipedia.org/wiki/List_of_country_calling_codes

[2021-04-06 18:58] AguuSz commented on #599
I was having the same issue, but i tried what @sachsgit suggested, and everything works now! Thanks!

[2021-04-13 14:35] dgautier commented on #475
I sure could use it too.

[2021-04-14 02:05] KID0031 commented on #396
we would like to fix this issue in a few weeks

[2021-04-14 08:19] 721806280 opened #609 "Synchronize the maven repository as soon as possible"
Synchronize the maven repository as soon as possible, because I also encountered the same problem https://github.com/DiUS/java-faker/pull/515

[2021-04-16 06:26] Jiapeng-Pei opened #611 "StarCraftTest falied sometimes."
**Describe the bug**
Sometimes StarCraftTest failed, in testUnit and testBuilding.

**To Reproduce**
[code]

**Expected behavior**
The initial test fails occasionally, but they should pass, regardless of testing time. Adding Repeat(1000) will definitely lead to an exception.

**Versions:**
 - OS: [Win 10]
 - JDK 11

[2021-04-17 08:07] Jiapeng-Pei commented on #611
This issue has been fixed. Over.

[2021-04-17 08:47] Jiapeng-Pei commented on #494
Unfortunately, the way you use javafaker is wrong. France/UK are countries that don't contain other countries, even if you set these locale, faker.address.country() still return random countries. You can call faker.address.city() or faker.address.state() and the result will be right.

[2021-04-17 08:53] Zhang-Muyang commented on #585
Do you mean that it should provide an interface to let user set the desired special letters?

[2021-04-22 08:31] Jiapeng-Pei commented on #588
Dear sir:
      My PR create a perfect fake ZH_CN id that satisfying all your requirements.
      The birthplace is real numbers, the birthday number is valid(considering leap year and Feb), the last digit is generated according to other numbers in CN_ID. Wish you can accept my PR soon!
      https://github.com/DiUS/java-faker/pull/615

[2021-04-22 22:53] thePantz commented on #475
Still willing to merge this in. The PR has been sitting here for over a year and I have not been contacted by anyone to explain why

[2021-04-23 14:31] 2235161562 commented on #566
Hello, I have fixed this problem in PR#619
The issue of ID number for Locale "en-ZA" can be close.

Past result of ID number for Locale "en-ZA" is:  ###-##-####
Now, it is:  YYMMDDSSSSCAZ
[YYMMDD is birthday, SSSS is serial number and 0000-4999 is female, C is 0 or 1, A is 8, Z is check number of Luhn algorithm]

Versions:
- OS: Winsods
- JDK 1.8
- Faker Version 1.0.2

[2021-04-23 16:11] nanfang-wuyu commented on #588
Sorry to delay the repair work to these days. Our group has also already fixed this problem. We create a class named ''ZhCNIdNumber'', which provides several functions to generate a close-to-truth Chinese ID number. We consider of the province number, birthday,  the sequence number, and the checksum. We also develop several tests to test if the generated Chinese ID is valid with all of the require

[2021-04-24 05:22] BravoChaoS commented on #598
We fixed this issue, please check this PR #622

[2021-04-24 13:04] CharlotteE67 commented on #587
I'd like to pull request for this issue.

[2021-04-24 13:05] CharlotteE67 commented on #587
#623

[2021-04-24 13:25] VG-Huai commented on #486
Unfortunately, our team are unable to handle this problem. Java-faker uses another java library called 'Generex' to generate strings from regex. It seems that 'Generex' doesn't allow users to write `//w` or `//b` inside `[]`, the meaning of `[\\w\\d]{5}` is same as `\\w\\d]{5}`. You can see it in the image shown below.
![-20f869a040ddc662](https://user-images.githubusercontent.com/56375896/1159603

[2021-04-24 13:48] nanfang-wuyu commented on #486
Besides that described by VG-Huai, we also find if you want to generate the similar String to "faker.regexify("[a-zA-Z0-9]{5}")", you can change the regex from "faker.regexify("[\\w\\d]{5}");" to "faker.regexify("(\\w|\\d){5}")", which might give you expected result as the picture shown.
There would appear underlines for most cases, I guess that's what you meant "omitted some characters".

![issue

[2021-04-25 11:39] CharlotteE67 commented on #450
Our group are interested in this issue, we will try to fix it.
---- SoftwareEngineering_Sustech_Debug-Automaton

[2021-04-25 12:17] uni-horihori commented on #571
Our gruop have looked carefully at your issue and we're interested. We will try to solve this problem.

--SE_SUSTech

[2021-05-11 14:51] alopezari opened #626 "Typo in the faker.subscription.plans variable inside es.yml"
**Describe the bug**
There is a quote character missing in one of the yml variables in es.yml.

**To Reproduce**
Go to java-faker/src/main/resources and take a look to the value of the faker.subscription.plans variable.

**Expected behavior**
It should be:

```plans: ["Prueba gratuita", "Basico", "Starter", "Essential", "Estudiante", "Bronze", "Standard", "Silver", "Gold", "Platinum", "Profesional

[2021-05-17 07:22] 2235161562 commented on #626
Hello! I make the pr #628 to promote this issue merged. Hope what i have done can help you!

[2021-05-17 07:37] alopezari commented on #626
Yep, that's it. Thank you!

[2021-05-17 15:02] RockyMM commented on #470
Hey @codingricky

Do you have a timeline for 1.0.3 release?

Thanks!

[2021-05-17 15:38] 2235161562 opened #629 "Some issue about class: faker.number: Wrong long integer fake numbers and Not randomly distributed fake numbers"
**Describe the bug**
 #458 find a bug about the range of `number().numberBetween(int min, int max)`. But there are more bugs in `number().numberBetween(int min, int max)`. The long number faker can not correctly make the long integer in `number().numberBetween(int min, int max)`.

In additions, the fake number made by `number().numberBetween(int min, int max)` is not randomly and evenly distribute

[2021-05-17 19:10] 2235161562 commented on #629
I have fixed them in PR#631

[2021-05-17 19:15] 2235161562 commented on #458
Hello! I have fixed this issue and make the PR #631 to promote this issue merged. Hope what i have done can help you!
You can get the all of methods and details of repair in PR #631 .
--SE_CHWJ

[2021-05-19 06:53] BravoChaoS commented on #391
We fixed this issue by adding a class "Domain", please check this PR #633

[2021-05-19 11:51] 2235161562 commented on #592
Hello, after you invalid zip code by state abbrevation, you should set the locale of the faker.
you can try:
[code]
you will get the correct zip code.
Hope what I have done can help you!

[2021-05-20 08:04] Krptonian opened #634 "Game Resident Evil Features Wanted!!"
**Is your feature request related to a problem? Please describe.**
I'm a huge fan of the game series Resident Evil. Recently Resident Evil 8 is a hit, and I want some features of this game!

**Describe the solution you'd like**
Maybe some features including equipment, creatures, characters, e.t.c. are enough.

[2021-05-20 08:07] Jiapeng-Pei commented on #634
You have a awesome idea because I'm also crazy about Resident Evil ! I'm been working on generating needed random values of resident evil series.

[2021-05-20 08:08] Krptonian commented on #634
Oh, man! That's perfect! Just show your awesome solution!

[2021-05-21 08:33] 2235161562 commented on #571
I add CURP in PR #571

[2021-05-21 15:00] 2235161562 commented on #414
I have add some Random Social Media in PR #637
Now I just add the Twitter, BiliBili, YouTuBe in Social Media Class.
But I have set up the interface to make the new Social Media Class easy to add
Hope what I have down can help you!

[2021-05-22 10:07] nanfang-wuyu commented on #578
Sorry that we can't reproduce your problem, could you please try it again and if it's still wrong, could you please show more screenshots and details how the error happened, by the way, the screenshot seems to be different from the class in version 1.0.2 in FakeValuesService class, hope you check and best wishes.

[2021-05-22 11:30] AnonymousExplorer opened #638 "HearthStone Features Wanted"
**Is your feature request related to a problem? Please describe.**
Hearthstone is a very popular card game, maybe you can add features of this game.

**Describe the solution you'd like**
Maybe some features including professions, characters, patterns, rank e.t.c.

[2021-05-22 11:50] nanfang-wuyu commented on #638
I have played hearthstone sometime before, it's a great card game. I would try to add this feature according your list and some my own ideas, thanks.

[2021-05-22 12:11] uni-horihori commented on #571
We also implement this requirement in PR #642
I add Mexican CURP generator based on its requirement and implement valid check on Mexican CURP.

[2021-05-22 13:44] Juan-Chen45 commented on #414
I have added random Twitter faking ability to the project. The PR link is as follows: #645 .
-- Sustech-SE

[2021-05-22 13:44] CharlotteE67 commented on #450
Fix it and here is pull request #644

[2021-05-30 03:31] teddyxlandlee opened #646 "zh_CN.yaml does not really fit Chinese people's habits"
Here's an example:
[code]
There is not any university called "东理工大学" (east university of science and engineering) or "中国大学" (university of China). Maybe you need more samples, instead of mixing these simple prefixes and suffixes above.

Besides, I've seen that you use hundreds of samples for Chinese names. In fact, Chinese people born in different ages might have different features in their names.

[2021-06-02 16:26] david-truong commented on #590
I ended up using faker.internet.image(100,100,true,"") to work around the issue

[2021-06-10 00:35] chriswininger opened #648 "commons-validator pulls in vulnerable dependency"
The dependency

[code]

pulls in what seems to be a vulnerable version of commons-beanutils as referenced [here](https://ossindex.sonatype.org/component/pkg:maven/commons-beanutils/commons-beanutils@1.9.2?utm_source=ossindex-client&utm_)

Given that most folks use this library in tests only the risk probably low, but figured I'd submit an official bug report. Also I'll submit a pr request patch it

[2021-06-10 13:41] chriswininger commented on #648
Here is a pr bumping the version https://github.com/DiUS/java-faker/pull/649

[2021-06-28 17:37] martinandersson commented on #465
Can this information please be added to the JavaDoc of Faker?

[2021-07-16 09:23] AngryGami opened #654 "Same Name object always generate different names"
**Describe the bug**
Name object that I got from `faker.name()` call is not idempotent (consistent?). It will generate new random value for each method call like `firstName` or `fullName`. This makes it hard to generate bunch of consistent pieces of data about person.
Maybe this is known issue or not an issue at all but this is quite annoying

**To Reproduce**
[code]
prints
[code]

**Expected beha

[2021-07-16 10:44] AngryGami commented on #654
I've looked inside source code and see that this probably was never how it suppose to work and Name object is just a namespace (no pun intended :)). Anyway workaround is pretty simple:
[code]

[2021-07-16 10:44] #654 closed

[2021-08-19 08:41] Breina commented on #380
You can use a regex directly:

`Faker.instance().expression("#{regexify '" + PHONE_NUMER_REGEX + "'}")`

I suggest this one: https://phoneregex.com/

[2021-08-24 15:42] cheekymonkat commented on #494
I am also having the same problem

Faker.instance(new Locale("en","GB")).address().state()

returns US states not UK.  The whole address is affected - It doesn't happen with other locales.

[2021-08-28 09:59] immujahidkhan opened #657 "Need email , how can i get fake email?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-28 10:01] #657 closed

[2021-08-28 10:01] immujahidkhan commented on #657
found

[2021-09-08 22:43] Venthe opened #658 "Typo in StarTrek"
**Describe the bug**
StarTrek class has typo: "specie"

**Expected behavior**
StarTrek method is named 'species'

[2021-09-10 07:21] evpl commented on #658
Hi! I I created a PR #659 to fix it

[2021-10-02 20:07] AllanCapistrano commented on #599
Thanks! @sachsgit

[2021-10-07 15:33] FritschAuctores commented on #599
I also needed this jar: https://mvnrepository.com/artifact/com.github.mifmif/generex/1.0.2

[2021-10-08 10:57] moderafasas opened #663 "create 100 million object cost lot of time"
**Describe the bug**
when i create 100 million object cost about 10 hour

**To Reproduce**
for (int i = 0; i < 100000000; i++) {
                People person = new People();
                person.setLevel(j);
                person.setName(faker.name().fullName());
                person.setCompany(faker.company().industry() + faker.company().buzzword());
                person.setNation(faker.n

[2021-10-08 23:25] wcarmon opened #664 "Idea: faker.randomlyNull(x)"
**Is your feature request related to a problem? Please describe.**
for nullable fields, it's inconvenient to get a randomly null value.

- Java: `ThreadLocalRandom.current().nextBoolean() ? null : foo`
- Kotlin: `if(ThreadLocalRandom.current().nextBoolean()) foo else foo`

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
`faker.options().option(null, foo);`

[2021-10-08 23:35] wcarmon opened #665 "Idea: Random subset"
**Is your feature request related to a problem? Please describe.**
Currently it's hard to get a `Set`, which is a random subset of a collection.

kotlin example of use case
[code]

java example
[code]

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
see the alternative code samples above

**Additional context**
Add any other context or screenshots about the

[2021-10-08 23:49] wcarmon opened #666 "Idea: Lorem Ipsum with fixed length"
**Is your feature request related to a problem? Please describe.**
currently, you can only get fixed length lorem ipsum without spaces

eg.
[code]

if you want **spaced words** or **sentences** of **fixed length**, you need to do something like this:

[code]
- the `trim` is needed when `String::substring` stops on a space
- [an exception is thrown](https://docs.oracle.com/javase/8/docs/api/java/la

[2021-10-09 08:10] m7mdra opened #667 "Avatar is returning AllAccessDisabled"
**Describe the bug**
When calling
`faker.avatar().image()`
or
`faker.internet().avatar()`
and pass the generated value to image viewer class it returns

[code]

**To Reproduce**
[code]
will return

https://s3.amazonaws.com/uifaces/faces/twitter/[randomName]/128.jpg

open it using browser.

[2021-10-16 13:55] #646 closed

[2021-10-16 17:59] komminen commented on #666
Hi, we will volunteer to work on this issue in October/November. For the project maintainer, please let us know if this is okay and if you want it fixed.

[2021-10-17 00:54] wcarmon commented on #665
Hey @komminen.
Sure, I'm happy to contribute code.
I wasn't sure if you wanted the change to your API or not.

[2021-10-20 05:44] francieW opened #668 "Generate Flight Numbers and Airplane Names"
**Is your feature request related to a problem? Please describe.**
None

**Describe the solution you'd like**
Generate random flight numbers (3 letters + 1-4 digits (ICAO flight numbers), or 2 letters + 1-4 digits (IATA flight numbers)).
Generate random airline names.

**Describe alternatives you've considered**
None

**Additional context**
None

[2021-10-20 05:56] chenwusi2012 commented on #668
Hi, I would like to work on this issue for academic purpose.

[2021-10-21 01:36] leoncho commented on #590
I would be happy to look at this issue in Oct/Nov as part of an academic project though it may ultimately be a licensing issue.

[2021-10-31 17:27] AlexTamulaitis commented on #587
Is this issue resolved?

[2021-11-07 23:23] leoncho commented on #585
Pull Request #669 ["Add passwords with user-specified special characters"] has been submitted to add this feature.

[2021-11-10 14:06] boxcee commented on #475
@thePantz explain what exactly?

[2021-11-12 15:55] optimisticninja commented on #487
+1ing this, please merge this. The generation fails when using variable lengths. This needs test the requirements and retry if failed. I'll look at the source later and create an MR since you haven't merged any of the others.

The following sporadically fails.

[code]

[2021-11-17 00:19] brunobaiano commented on #596
I will do this

[2021-11-17 00:36] brunobaiano commented on #596
Hi junior,
I'm studying this project and fix this little issue. Hope it helps you.

[2021-11-21 13:10] LC24 commented on #667
Hello, I volunteer to work on this issue in November/December. For the project maintainer, please let me know if this is okay and if you want it fixed.

[2021-11-21 13:11] LC24 commented on #664
Hello, if akashrpatel621 has decided to not work on the feature, then I volunteer to work on it in November/December. For the project maintainer, please let me know if this is okay and if you want it added.

[2021-11-21 15:58] akashrpatel621 commented on #664
Hello, I am still making progress trying to complete the issue but just wanted some clarification.

[2021-11-21 17:09] wcarmon commented on #664
Just a regular function.

People can combine it with other functions like

[code]

[2021-11-21 21:41] zolv opened #674 "Invalid IBAN numbers for Costa Rica (CR)"
**Describe the bug**
Faker generates invalid IBAN numbers for Costa Rica, `CR...` code

**To Reproduce**
[code]

**Expected behavior**
I expect the generated `CR` IBANs are valid.

**Versions:**
 - OS: Linux Ubuntu 20.04.3 LTS
 - JDK: OpenJDK 14
 - Faker Version: 1.0.2

**Additional context**
For IBAN validation above I use [marcwrobel/jbanking](https://github.com/marcwrobel/jbanking. I've also ch

[2021-11-21 23:13] NatalieSty commented on #666
@wcarmon Is this something you are looking for?

faker.lorem().maxLengthSentence(10);
output: "Quia quaer"

[2021-11-21 23:34] wcarmon commented on #666
That would be excellent

[2021-11-23 12:12] wcarmon opened #677 "IDEA: random java.time.Duration"
**Is your feature request related to a problem? Please describe.**

Feature idea: random [Duration](https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html)

**Describe the solution you'd like**
[code]

Support for generating `java.time.Duration`

**Describe alternatives you've considered**
[code]

**Additional context**
N/A

[2021-11-29 07:55] agilob opened #681 "FakerValues.loadValues() never closes inputSteam"
`InputSteam` from `FakerValues.findStream` is returned to `FakerValues.loadValues()` then passed to snake yaml, but it's never closed causing memory and file descriptor leaks.

Calls to faker.username() triggers a call to `faker.firstName()` which apparently opens a yaml file EACH TIME, for witch inputSteam is never closed. Overall resulting in poor performance and a memory leak as the buffers are

[2021-12-07 16:21] leoncho commented on #603
Pull request #685 ["Add random locale selection/rotation for internationalization/localization testing"] has been submitted to add this feature.

[2021-12-10 00:18] akashrpatel621 commented on #664
I have made a pr but just wanted more clarity so by combining functions are we trying to prevent null from being returned. Right now in my implementation that I derived from the initial issue. I return randomly null with the randomlyNull function.

[2021-12-12 13:10] m7mdra commented on #667
if its possible yes.

Thanks for following up.

[2021-12-14 12:19] IliasPapanikolaou commented on #433
Same here, please correct this, the fix to this issue has posted by @schrek1

[2021-12-27 08:09] valfirst commented on #681
it seems the fix was merged into `master` branch

@codingricky is there any chance to publish a new release?

[2021-12-30 13:25] bodiam commented on #681
@valfirst any chance you'd be willing to try out https://github.com/datafaker-net/datafaker ? The issue is fixed there, plus many other issues.

[2021-12-30 18:45] valfirst commented on #681
@bodiam is https://github.com/datafaker-net/datafaker independent or do you plan to migrate fixes done in this project to your fork?

[2021-12-30 20:55] bodiam commented on #681
So far, I've merged every PR of this project where the quality was reasonable into my fork, and I'm planning to keep doing that.

Besides that, I've fixed several issues in this project in my fork. They can be merged back into this project if the owners want to, but some PRs with fixes were open for more than 3 years.

[2022-01-04 07:39] snuyanzin opened #694 "Flaky StarcraftTest sometimes fails"
**Describe the bug**
Sometimes it fails with the exception trace below.
The reason is that there is at least one unit containing dash symbol `Auto-Turret` and at the same time regular expression in junit tests does not expect it.
Trace
[code]

**To Reproduce**
`mvn clean verify`
To increase probability of increasing just remove all other unit names except `Auto-Turret` from `starcraft.yml

**Expec

[2022-01-17 13:11] BeBitbox opened #697 "vulnerabilities in dependency: snakeyaml"
There is a critical vulnerability in the library snakeYAML: https://mvnrepository.com/artifact/org.yaml/snakeyaml

Update to a version +1.26: Proposed solution

`
<dependency>
  <groupId>org.yaml</groupId>
  <artifactId>snakeyaml</artifactId>
  <version>1.30</version>
</dependency>
`

[2022-01-20 22:18] csyager opened #698 "en-US locale incorrectly includes Canadian area code 226"
**Describe the bug**
The en-US locale `en-US.faker.phone_number.area_code` array (see [src/main/resources/en-US.yml](https://github.com/DiUS/java-faker/blob/a8b8ff0acc6fcc629d08a3a9952f83be56a9a3c3/src/main/resources/en-US.yml), line 41022) includes area code 226, which is a Canadian area code.  Phone numbers generated by java-faker with this area code will not pass validation checks asserting tha

[2022-01-24 16:02] bodiam commented on #698
@csyager thanks for letting me know. I've fixed it Datafaker here (https://github.com/datafaker-net/datafaker/commit/8d12a6a700215e4925d5fa6d255d18646123297e#diff-34e7864f8f8fc27d914377b08ad3b1fc2feb7d9496beae7e3ce7886f2d535332), along with a few other issues which were fixed in faker-ruby, and I've fixed a few more telephone issues on the way. Thanks for the Kotlin code sample, that was very help

[2022-01-27 16:49] astubbs commented on #470
Seems @codingricky is MIA. Is there anyone else that can do a release? or is this dead in the water?

[2022-01-27 16:50] astubbs opened #700 "1.0.3 release"
There are a lot of things fixed since 1.0.2. Who has the power do make a release aside from @codingricky ?

[2022-01-27 16:51] astubbs commented on #470
FYI https://github.com/DiUS/java-faker/issues/700 1.0.3 release

[2022-01-27 22:05] bodiam commented on #470
Hi @astubbs , it seems a bit quiet for the last 2 years, but even if they made a release, javafaker is quite buggy.

I made a fork of this library (https://www.datafaker.net) which does get regular updates, and which has almost all prs from this repo applied. My current release cadence is one release per month, and I welcome contributions.

(Btw, Datafaker also has all CVEs fixed, and removes almo

[2022-01-28 10:37] astubbs commented on #700
FYI a maintained fork is [DataFaker](https://datafaker.net/
): https://github.com/DiUS/java-faker/issues/470#issuecomment-1023680016

[2022-02-02 21:16] kerry-textiq opened #702 "faker().address().countyByZipCode() returns Runtime exception"
**Describe the bug**
A clear and concise description of what the bug is.
With default locale,

faker().address().countyByZipCode(faker.address().zipCode())

returns
java.lang.RuntimeException: address.county_by_postcode.39347 resulted in null expression

**To Reproduce**
Code to reproduce

**Expected behavior**
A clear and concise description of what you expected to happen.

expect return country

[2022-02-09 00:13] bodiam commented on #700
Thanks @astubbs .

All of the open PRs of Javafaker have been merged, and the security issues have been fixed in an active port, https://www.datafaker.net . This port includes a lot of new features/bugfixes and improvements, so if your minimum JDK is 1.8 or higher, then Datafaker could be an option to use.

[2022-02-10 13:20] jguthrie100 commented on #702
Quick fix for now, for US addresses - you need to initialize Faker with:

`new Faker(new Locale("en-US"))`

[2022-02-14 12:28] bodiam commented on #697
Absolutely correct. We've created a port of Javafaker, called https://www.datafaker.net, which doesn't have this issue (we fixed the CVE, and removed most other dependencies). It's a direct replacement with the same API, but actively maintained, no CVEs, 10-30% faster, etc.

[2022-02-14 12:34] bodiam commented on #674
Hi @zolv , just wanted to let you know that our port of Javafaker, called Datafaker, doesn't have this bug, as can be seen here: https://github.com/datafaker-net/datafaker/commit/bd1c1896fab18b0decc2b4395cde9bc6bb31794b

[2022-02-14 12:35] bodiam commented on #666
This method is available in Datafaker (https://www.datafaker.net), if anyone needs it.

[2022-02-25 12:34] marcinkunert commented on #470
@bodiam https://datafaker.net/ doesn't work, but https://www.datafaker.net/ does. I suggest to setup a redirect from one to another.

[2022-02-25 12:56] bodiam commented on #470
@marcinkunert ah, thanks for letting me know, that's sloppy. I'll fix that soon, thanks!

[2022-03-05 17:59] berkarcan commented on #31
But it would be useful to have them as other options, like female_name, male_name. These may not be the same with the fake names. There are already some lists of males and females  in the web like: https://gist.github.com/BenjaminAdams/4f6175e7ede6af50e9ee

[2022-03-05 20:46] echavez-eb opened #706 "Faker Error: java.lang.NoClassDefFoundError: java/sql/Date"
**Describe the bug**
Getting the following exception error when using **faker** to get a _fake anything_, as _expected_...

`Error: java.lang.NoClassDefFoundError: java/sql/Date`

**To Reproduce**
As simple as...
[code]

**Expected behavior**
Let me think... a street name, printed on the console?

**Versions:**
 - Faker Version 1.0.2
 - OS: Windows 10
 - JDK 17
[code]

**Additional context**
(Hope

[2022-03-05 22:22] bodiam commented on #706
Hi @echavez-eb , Javafaker is no longer maintained, please have a look at www.datafaker.net, which is a modern port of Javafaker, and which is tested on Java 8, 11 and 17 (and the  above code of course works with Datafaker)

[2022-03-06 01:27] bodiam commented on #31
@berkarcan  shouldn't be too hard to do, most language files already have a split between male and female names. However, this library is no longer maintained, and I'm maintaining an active fork here (https://github.com/datafaker-net/datafaker). If you  would  like to contribute such a feature, that would be most welcome.

[2022-03-09 13:56] Lance-Azrael commented on #674
Hello @zolv , our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-03-09 14:04] Lance-Azrael commented on #463
Hello @astubbs , our group are interested in this issue, and we will try to implement it.
---- SE_SUSTech, group: Lanrand

[2022-03-09 14:08] Lance-Azrael commented on #386
Hello @manueljordan , we note that your request for ills have not been fixed yet. Our group are interested in this issue, and we will try to make it.
---- SE_SUSTech, group: Lanrand

[2022-03-09 14:18] Lance-Azrael commented on #431
Hello @kentkrantz , we note that the solution from irakatz is just a biginning. Our group are interested in this issue, and we will try to optimize this function.
---- SE_SUSTech, group: Lanrand

[2022-03-09 14:32] ThreeHmeng commented on #706
Hello @echavez-eb, our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-03-09 14:46] Lance-Azrael commented on #414
Hello @arturmkr , our group are interested in this issue, and we will try to add more social media based the code from SE_CHWJ and Sustech-SE.
---- SE_SUSTech, group: Lanrand

[2022-03-09 14:47] astubbs commented on #463
oh cool! I suggest you implement it here instead: https://github.com/datafaker-net/datafaker/

[2022-03-09 15:29] Lance-Azrael commented on #463
Thank you very much! I'll check out the data faker project

[2022-03-09 18:15] youyumeimei commented on #494
Hello @amedvedjev , our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-03-09 21:15] echavez-eb commented on #706
Really? So why are there pull requests completed from a month ago? Anyway, if the new faker works, fine for me. I'll check it out, thanks Bodiam.

[2022-03-09 21:15] #706 closed, assigned to nobody

[2022-03-09 21:26] bodiam commented on #494
@youyumeimei this library is no longer maintained. An active fork is hosted at www.datafaker.net

Would you be willing to contribute there? We release a new version every month.

[2022-03-09 21:28] bodiam commented on #431
@Lance-Azrael this issue has been fixed in Datafaker.net  already

[2022-03-10 02:39] Lance-Azrael commented on #431
@bodiam OK thanks! I will check it in data faker

[2022-03-10 02:50] YUSTIAN0423 opened #707 "The Elden Ring Feature Request"
**Is your feature request related to a problem? Please describe.**
The Elden Ring is a hot game released recently . It is excellent , maybe you could add features of this game.

**Describe the solution you'd like**
Maybe some features including profession, magic, weapon .etc

[2022-03-10 02:51] Lance-Azrael commented on #707
Hello @YUSTIAN0423 , we also like this game! Our group are interested in this issue, and we will try to make it.
---- SE_SUSTech, group: Lanrand

[2022-03-10 02:52] YUSTIAN0423 commented on #707
@Lance-Azrael Perfect! Thanks to your reply, I'm looking forward to your works.

[2022-03-10 03:00] bodiam commented on #707
@YUSTIAN0423 it's a bot :-(

If you want this, please make a PR to Datafaker.net, which is a fork of this library, but maintained. It's quite easy to create a provider like this, happy to help

[2022-03-10 03:35] Lance-Azrael commented on #707
I am not robot :(
We are students from SUSTech, SE class. We have a mission which need us to fix more than 10 issues from projects in GitHub, and our group choose data faker project. We will finish these mission before July. Thank you for your understanding!

[2022-03-10 03:36] Lance-Azrael commented on #707
java faker... wrong typo

[2022-03-10 04:07] YUSTIAN0423 commented on #707
@bodiam Thank you for your help and advice!
But don't worry, because I've already made contact with @Lance-Azrael . They are a course team of five students. I have seen contributions made by other course teams on other issues of this faker project and I think it is worth a try to cooperate with them.
I will try to complete this issue together with them. They also mentioned datafaker to me, but I d

[2022-03-10 04:26] bodiam commented on #707
@Lance-Azrael oh, I'm sorry. This project however is quite dead. It has lots of issues, most of it are fixed in Datafaker.net, which is a maintained fork of this library.

If you want to contribute to Datafaker.net instead, we'd welcome all contributions, and it would be great to also release them to the world, and I'm happy to provide coaching if needed (I'm a developer myself with 20+ years of e

[2022-03-10 04:30] bodiam commented on #707
@YUSTIAN0423  ah, that's alright! Datafaker is a fork of this project, with the same source files, same api, etc, but it has all the security issues fixed, is much faster, has more providers, has support for custom validations, has support for csv, yml, json, etc.

Plus, it's very actively maintained!

[2022-03-10 04:59] Lance-Azrael commented on #707
@bodiam Oh I understand. Thank you very much!
Can we modify the Datafaker project according to the requirements of some issues in this Javafaker project? Because I see a lot of problems in the Javafaker feature issue, especially with the Fakers requirement. If possible, we will explain the situation under the issue we promised to help.

[2022-03-10 05:11] bodiam commented on #707
@Lance-Azrael absolutely! I think several issues have been fixed already, but if you find any issues, or want to contribute new providers or new features, that would be very welcome.

[2022-03-10 05:16] bodiam commented on #707
@Lance-Azrael I've also added 2 issues to datafaker, which can be implemented as a great first issue. Again, happy to help with any help you may need.

[2022-03-10 05:22] Lance-Azrael commented on #707
@bodiam I see! Thank you a lot! (●'◡'●)

[2022-03-25 19:06] StevenPG opened #709 "Version of dk.brics.automaton (java-faker dependency) has a bug that breaks maven/gradle plugins, newer versions contain fix"
**Describe the bug**
Usage of version 1.11-8 of dk.brics.automaton results in issues using certain gradle and maven plugins.

Reference: https://app.bountysource.com/issues/36726064-pom-missing-xml-declaration-legible-by-sbt-is-rejected-by-coursier
Reference: https://github.com/coursier/coursier/issues/316

**To Reproduce**
Create a project that uses any version of java-faker from 1.0.2 or earlier

[2022-03-31 07:21] JosepMariaGomez commented on #702
**Describe the bug**

Exception retreiving county by zipcode

**Returns**

Exception in thread "main" java.lang.RuntimeException: address.county_by_postcode.57832 resulted in null expression
	at com.github.javafaker.service.FakeValuesService.resolve(FakeValuesService.java:308)
	at com.github.javafaker.Address.countyByZipCode(Address.java:43)
	at com.mycompany.fakergenerator.Main.main(Main.java:34)

[2022-04-02 08:52] bodiam commented on #709
@StevenPG this is not a dependency of javafaker, but of generex. How do you expect this dependency to be changed here?

[2022-04-02 10:36] StevenPG commented on #709
Looks like I was too hasty when I was looking through the dependency tree.

Guess it just won't be possible for any of those pom parsing plugins to be compatible with javafaker for the foreseeable future.

Cheers

[2022-04-02 10:36] #709 closed, assigned to nobody

[2022-04-02 13:50] bodiam commented on #709
@StevenPG well, this library isn't really maintained anyway, that's why I created https://github.com/datafaker-net/datafaker, which is a fork of this library, but it's a bit tricky to fix, since generix is also no longer maintained, and it's tricky to find a decent Regex replacement library, none of them seem to be maintained.

[2022-04-05 10:53] Searching4Job opened #711 "BattleField1 feature request"
**Is your feature request related to a problem? Please describe.**
BattleField1 is the best bf game ever! Please consider adding its feature.

**Describe the solution you'd like**
Weapons, classes, maps, etc

[2022-04-05 10:55] ak-maker commented on #711
Hello @Searching4Job , we are interested in fixing this feature.  Can we give it a try?
--sustech Software Program group

[2022-04-06 01:19] Josh19989 opened #712 "Movie Class Request"
**Is your feature request related to a problem? Please describe.**
I find no movie class in this project. Maybe add one? The class can be OscarMovies.
**Describe the solution you'd like**
I need some features like actor/actress, name, quote,  character, release date. If you have some other ideas, please add them.

[2022-04-06 01:28] Josh19989 opened #713 "New movie.yml needed"
**Is your feature request related to a problem? Please describe.**
I think the class OscarMovie needs a new .yml file. The previous movie.yml is too simple.
**Describe the solution you'd like**
Add more features like actor/actress, release time, quote, charactor. If you have some other ideas, add them.

[2022-04-06 01:30] ak-maker commented on #712
Hello @Josh19989 ,  we are interested in fixing this feature.  Can we give it a try?
--Sustech Software program group

[2022-04-06 01:32] ak-maker commented on #713
Hello @Josh19989 ,  we are interested in fixing this feature as well. In fact, we are the group that is willing to fix your movie feature request.  Can we give it a try?
--Sustech Software program group

[2022-04-06 20:09] Mahoney commented on #327
I've suddenly got this issue because a different dependency brought in `org.yaml:snakeyaml:1.30` transitively, and gradle's dependency resolution combines that with java-faker's `android` classifier to produce a dependency on `org.yaml:snakeyaml:1.30-android` - which doesn't exist:
[code]

I checked out this project and it builds fine if I remove `<classifier>android</classifier>` from the `snakey

[2022-04-06 23:10] bodiam commented on #327
@Mahoney'm this has been fixed in Datafaker, an active clone of this repo with most of not all issues fixed.

[2022-04-07 07:20] Mahoney commented on #327
@bodiam thanks - I'll consider migrating to datafaker. `net.datafaker:datafaker`, presumably?

In the meantime, this works as a way to strip the `android` classifier:
[code]

[2022-04-07 08:27] lixus7 opened #715 "weapons feature request"
**Is your feature request related to a problem? Please describe.**

There are many weapons in modern society.And we want to build a weapon librray. Please consider adding its feature.

**Describe the solution you'd like**

Weapon type,  The bullet diameter, manufacture etc

[2022-04-07 09:53] Uncle-Road commented on #715
hello @TatsuyaD7 , i am a student of sustech. i am pay attention to this project for a long time. I am interesting to fix this feature. And could you alloc this issue to me. And i will complete this grature request. Thanks.

---Sustech Software program group

[2022-04-07 10:20] lixus7 commented on #715
halo  @Uncle-Road , i see the other issue, and see the latest project is in https://github.com/datafaker-net/datafaker, if you interested in this issue, maybe you try the issue i provied in that. Of course, you can also complete this issue and commit you code in the latest project

[2022-04-07 10:44] Uncle-Road commented on #715
ok , i kown the sutiation. I have to complete the issue in this project because of the course requested. And in datafaker i will submit the same code in you provied issue. the #122 issue i have seen.

[2022-04-10 13:41] debop commented on #327
@Mahoney Thanks your suggestion. it works.

this is kotlin-dsl port

[code]

[2022-04-19 01:05] Josh19989 commented on #712
Go for it @ak-maker

[2022-04-19 01:07] Josh19989 commented on #713
Go for it@ak-maker

[2022-04-22 07:59] snuyanzin commented on #663
hi @icytek
may be a bit too late but anyway there is a port of java-faker to jdk8 with lots of improvements including performance https://github.com/datafaker-net/datafaker

I've just checked timing for your code (except ` person.setBirthDay(DateUtils.get8DateString(faker.date().birthday().getTime()));` since I do not have `DateUtils#get8DateString`)
No code changes are required except imports

Fo

[2022-04-22 08:22] snuyanzin commented on #664
@wcarmon

may be a bit too late but anyway there is a port of java-faker to jdk8 with lots of improvements including generation of collections with null rate https://github.com/datafaker-net/datafaker

for your case it could be done like that

[code]
it will generate `Boolean` and with probability `0.5` it will return `null`

As you can see it is possible to use any provider here, so it could be a

[2022-04-23 19:05] Uncle-Road commented on #715
halo @TatsuyaD7 i have complete this issue and i will PR to datafaker

[2022-04-24 07:39] Lance-Azrael commented on #386
@manueljordan Hi! We have fixed this issue in https://github.com/datafaker-net/datafaker/pull/134.
About blood types:
We create a BloodType class, with ABO, Rh, P types. We referred to https://github.com/DiUS/java-faker/pull/549, and thank him a lot.
About diseases:
We have checked the existing Disease database, and we think it is relatively comprehensive and complete. Maybe this is what you need.

[2022-04-30 20:56] snuyanzin commented on #677
@wcarmon

generation of `Duration` and `Period` are supported in https://github.com/datafaker-net/datafaker which is a port of java-faker to jdk8

[2022-05-01 06:42] snuyanzin commented on #665
@wcarmon, @komminen , @joaquinjsb

may be a bit too late but anyway there is a port of java-faker to jdk8 with lots of improvements including subsets generation https://github.com/datafaker-net/datafaker/pull/129

[2022-05-09 07:45] vibinernesto opened #720 "Address for en-NZ Locale is coming with USA specific addresses"
**Describe the bug**
Address for en-NZ Locale is coming with USA specific addresses.  Names as well.

**To Reproduce**

[code]
**_It generates below output:_**

[code]

None of them looks like the NZ address book

**Additional comments : **
It makes more sense to add the Maori names in the New Zealand names too

**Versions:**
 - JDK 8
 - Faker Version 1.0.2

[2022-05-09 07:48] bodiam commented on #720
@vibinernesto could you try out Datafaker.net, and see if the issue is there too? We should have fixed a lot of issues currently affecting Javafaker.

**update**: I just checked it, and it's affecting Datafaker too. It's just because there's no data for en-NZ for this, same as en-GB, en-IND, en-CA, etc. Feel free to add this data and do a PR.

[2022-05-10 17:05] #486 closed

[2022-05-12 03:02] kerry-textiq opened #721 "Request create fake swift code"
**Is your feature request related to a problem? Please describe.**
I would like to have a new feature to be able to  create fake swift code

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-05-12 06:16] coolestjj commented on #721
@kerry-textiq Hello, I would like to try this issue.

[2022-05-12 09:28] ak-maker commented on #720
Hello @vibinernesto , I would like to fix this issue.

[2022-05-15 13:38] NowhereTo opened #722 "Dark Soul Feature Request"
I notice that there is someone post an issue about the Elden Ring. It's a good game. So I wonder is that possible to add message of Dark Soul in your project. This is also a game made by Hidetaka Miyazaki。

**Describe the solution you'd like**
Add stuff in Dark Soul. (Maybe just for version 3 or even more)

[2022-05-15 13:42] SickDawn commented on #722
Oh, I'm also a fan of that game. @NowhereTo Would I have a choice to satisfy on your request?

[2022-05-15 14:09] bodiam commented on #722
@NowhereTo @SickDawn Javafaker doesn't release code anymore, but if you want to contribute, github.com/datafaker-net/datafaker is a direct fork of this library and releases on a monthly basis, and fixed most of the issues currently present in Javafaker (plus it's quite a bit faster, doesn't have CVE issues, etc ;-) )

[2022-05-15 16:22] SickDawn commented on #722
@bodiam Ok, thanks for your notice. I'll go for data-faker!

[2022-05-16 07:14] NowhereTo commented on #722
@SickDawn hey, I have create new issue in datafaker. Please have a see.

[2022-05-17 12:52] a906358951 opened #723 "Soul Knight feature request"
**Is your feature request related to a problem? Please describe.**
Soul Knight is loved by many young people. It is a classic pixel adventure game with many elements. Please consider adding its feature.

**Describe the solution you'd like**
Characters, Weapons, Statues, Bosses, Enemies, Talents, etc

[2022-05-18 08:01] Uncle-Road commented on #723
@a906358951 hello，i am interested in this feature,and I will try do it

[2022-05-24 19:39] serpro69 commented on #723
It seems that java-faker is not maintained on a regular basis. Would you consider creating a similar PR in https://github.com/serpro69/kotlin-faker instead,  @Uncle-Road ? Or else,  do you mind if I use the yml files from your PR in the kotlin-faker myself?

[2022-05-24 19:41] serpro69 commented on #721
@coolestjj please consider contributing to a similar issue in kotlin-faker:  https://github.com/serpro69/kotlin-faker/issues/128

[2022-05-24 19:46] serpro69 commented on #722
There is also an alternative written in kotlin for anyone interested https://github.com/serpro69/kotlin-faker ;)

[2022-05-25 14:50] ILoveDogs7 opened #726 "MBTI Feature Request"
**Is your feature request related to a problem? Please describe.**
Myers–Briggs Type Indicator（MBTI）show individual personality tendency. Please consider adding its feature.
**Describe the solution you'd like**
I would like each type, name, personality characteristics, representative personage, merit, weakness be included.

[2022-05-25 14:55] ak-maker commented on #726
Hello @ILoveDogs7 , I am interested in MBTI as well and I will try to add this feature.

[2022-05-25 14:58] ILoveDogs7 commented on #726
Waiting for your good news. :-)

[2022-05-26 04:58] Uncle-Road commented on #723
@serpro69 hello, free to use the yml files. And i have to prepare my final exam in recent  month.

[2022-05-26 05:05] epragtbeamtree commented on #723
Hi @Uncle-Road , this faker is already part of Datafaker: https://github.com/datafaker-net/datafaker

[2022-05-26 05:15] Uncle-Road commented on #723
hello,bro. and i check the date and the soulknight.yml. find he is copy my code to soul knight.
my code is update in 7 days ago , he is update in 6 days ago , and the yml file is same to me. I am sad and angry because He didn't ask for my permission.

[2022-05-26 05:19] epragtbeamtree commented on #723
Hi @Uncle-Road, my apologies, that 'he' you are referring to is probably me, and I ported this code to Datafaker.

The code is attributed to you, and you are also mentioned in the release notes, but I'm sorry you're angry about this.

[2022-05-26 05:31] Uncle-Road commented on #723
@epragtbeamtree hey, bro. I understand the situation. There may be some misunderstanding between us. If you mention me in the release notes, it will be fine. And I saw your comment, misunderstood your meaning before

[2022-05-26 05:33] epragtbeamtree commented on #723
@Uncle-Road oki, no worries, just want to make sure I don't step on anyone's toes. I love your contributions, and it's a shame javafaker is dead, but we're trying to continue the journey at Datafaker, and kotlin-faker seems like a great project too!

[2022-05-26 05:43] Uncle-Road commented on #723
@epragtbeamtree Actually javafaker is my software engineering course at SUSTech. We're nearing the end of the semester, and I'll be putting my previous PRs into these two newest projects(Datafaker, kotlin-faker) over the summer vacation, and I've been preparing for my final exams recent month.

[2022-05-26 05:44] Uncle-Road commented on #723
@epragtbeamtree Actually javafaker is an open-source project required by my software engineering course at SUSTech. We're nearing the end of the semester, and I'll be putting my previous PRs into these two newest projects(Datafaker, kotlin-faker) over the summer vacation, and I've been preparing for my final exams recent month.

[2022-05-26 10:03] bodiam commented on #723
@Uncle-Road would it be an option to suggest Datafaker as an alternative at your course? I'm even happy to assist students in their work if needed.

[2022-05-26 12:17] coolestjj commented on #721
@serpro69 Sure, I will consider it

[2022-05-26 12:23] Uncle-Road commented on #723
@bodiam hey, bro. Thanks for your suggestion. And I will report this situation to the teacher Mrs. Chen and ask her to replace it with datafaker next semester. (The number of issues is very important for Mrs. Chen to choose projects. Could you consider mentioning more issues)

[2022-05-26 14:18] bodiam commented on #723
@Uncle-Road that would be amazing, thank you. There's a long list of fakers which will need implementing, and they make excellent candidates for a engineering course. You can send me an email if you need a list, or I can make a list of issues specifically for you. I think I can make 30 or 40 issues easily, and mark them as reserved for you.

Lastly, I want to thank you for how you handled our earl

[2022-05-27 17:45] Lance-Azrael commented on #377
Hello, we are working on your issue in https://github.com/datafaker-net/datafaker/pull/183. We will inform you after our pull request is checked ok!
---- SE_SUSTech, group: Lanrand

[2022-05-27 18:51] xiye2333333 commented on #379
I have implemented a simple function to generate name with gender like the examples you mentioned.
(Maria Perez, female) (Tony, Fernandez, male)
                                                                                                                --SE_SUSTech, group: Lanrand

[2022-05-28 09:48] Enfield-Li opened #729 "Unable to generate correct Locale Lorem paragraphs."
**Describe the bug**
Unable to generate correct Locale Lorem paragraphs.

**To Reproduce**
[code]

**Expected behavior**
Expecting lorem to be Chinese characters just like result for address

**Versions:**
 - OS: Windows
 - JDK 17
 - Faker Version 1.0.2

[2022-05-31 21:13] paulschwarz opened #732 "address().city() throws exception female_first_name male_first_name"
**Describe the bug**

`Faker.instance().address().city()` sometimes:

- returns "Abernathyhaven"
- throws "Unable to resolve #{female_first_name} directive."
- throws "Unable to resolve #{male_first_name} directive."

**To Reproduce**

Spuriously observed when running the following multiple times until you hit the issue:

- `Faker.instance().address().city()`
- `Faker.instance().address().streetAd

[2022-05-31 22:10] paulschwarz commented on #732
Never mind. I had extended the `Name` class with my own `NameExtension` class.

When calling `Faker.instance().address().streetAddress()` it actually picks a "name" and then puts a street/road/whatever ending on it. As a hidden consequence, when I introduced my extension, it was no longer able to make a "name" when trying to make a "street address".

[2022-05-31 22:10] #732 closed, assigned to nobody

[2022-05-31 22:42] bodiam commented on #732
Hi @paulschwarz , any reason in particular why you are using Javafaker instead of Datafaker (https://github.com/datafaker-net/datafaker/)?

Datafaker is a maintained fork, with the security issues of Javafaker fixed, more fakers, and it's 10 to 100 times faster in most cases.

[2022-06-01 09:01] paulschwarz commented on #732
@bodiam thanks for letting me know about this. I'm trying it out now.

[2022-06-01 09:24] bodiam commented on #732
@paulschwarz no worries, and good luck. Please let us know if you run into any issues. You shouldn't, but you never know :)

[2022-06-04 15:39] #729 closed

[2022-06-05 18:14] hstaudacher opened #733 "1.0.2 incompatible with Spring Boot 2.7.0"
**Describe the bug**
I'm using javafaker in an application and updated recently to Spring Boot 2.7.0. After upgrading I ran in to the following build error:

[code]
I have traced it down to javafaker. By changing my gradle dependency to the following my application builds again:

[code]

**To Reproduce**
Setup a spring boot 2.7.0 app and add java faker 1.0.2 as dependency.

**Expected behavior**
S

[2022-06-05 22:16] bodiam commented on #733
@hstaudacher thanks for reporting this issue, and yes, there's a few issues with this library, the incompatibility with Spring Boot is one of them. That's why we created a port of this library, which does work with spring boot. You can find it at https://www.datafaker.net, and requires only minimal code changes to get it up and running, only the package name changed (plus we have many improvements

[2022-06-29 13:26] RyoSaeba06 commented on #327
Hi there,  I got the issue  `Could not find snakeyaml-1.30-android.jar (org.yaml:snakeyaml:1.30).
Searched in the following locations:
    https://repo.maven.apache.org/maven2/org/yaml/snakeyaml/1.30/snakeyaml-1.30-android.jar` with spring boot 2.7.1 but working well with spring boot 2.6.2

[2022-06-29 13:46] bodiam commented on #327
@RyoSaeba06 this if a known issue. The recommendation is to use Datafaker.net, a maintained fork of this library

[2022-07-07 11:57] polarfish commented on #403
I solved this issue by switching to https://github.com/datafaker-net/datafaker (which is compatible with https://github.com/DiUS/java-faker)

[2022-07-14 08:47] KateSerkova opened #737 "Middle name generation. Feature Request"
**Is your feature request related to a problem? Please describe.**
Would you mind adding a generetion middle name only? It's now can be only a part of a full name in java library.

**Describe the solution you'd like**
faker.address().middleName();

[2022-07-14 09:25] wllps1988315 opened #738 "spring boot pom.xml"
Unresolved dependency: 'org.apache.commons:commons-lang3:jar:3.12.0'

<dependency>
	<groupId>com.github.javafaker</groupId>
	<artifactId>javafaker</artifactId>
	<version>1.0.2</version>
</dependency>

[2022-07-14 12:32] bodiam commented on #738
@wllps1988315 this library is no longer maintained, it's better to use github.com/datafaker-net/datafaker, which is a fork of this library

[2022-07-20 12:59] rowi1de opened #739 "Archive Repo and/or add notice about not being maintained and propose datafaker.net"
- Add a hint that this repo is not maintained anymore and recommend https://github.com/datafaker-net/datafaker/ as replacement

[2022-07-20 13:00] rowi1de commented on #738
@bodiam would be very convenient if that's stated on the repo main readme

[2022-07-21 01:00] bodiam commented on #738
@rowi1de  sure, I agree, but since this repo is no longer maintained, that probably won't happen (I'm not the owner of this repo)

[2022-07-28 08:15] Jazzyekim commented on #578
I also experience the same issue with _company.name_
The problem is that it is not reproduced all the time (~1 failure on 10 executions)
[code]
I am trying to evaluate the expression: #{company.name}
![image](https://user-images.githubusercontent.com/3268878/181456194-becb7143-3086-4c92-9028-f08c6231c51b.png)

But when it comes to _resolveExpression_ method it fails to resolve it:
![image](https:/

[2022-08-17 09:21] ahmetgeymen commented on #733
It is also discussed in detail [here](https://github.com/DiUS/java-faker/issues/327). Using https://www.datafaker.net is the best option as @bodiam has mentioned above.

[2022-09-13 13:19] mih-kopylov commented on #111
@codingricky isn't it the time to reconsider using `java.time` package as a default for `DateAndTime` values?

[2022-09-13 14:36] bodiam commented on #111
@mih-kopylov  we've made a start with this at www.datafaker.net, a fork of Java faker, have a look at the Time class. If something is missing lease let us know or send a PR!

[2022-09-13 16:21] mih-kopylov commented on #111
Good to know, thanks!

[2022-09-18 14:10] Gandhi-gd opened #746 "A bug in the job method"
**To Reproduce**
[code]
this is result.
![image](https://user-images.githubusercontent.com/55038394/190911415-3990ff5e-8773-41f7-9261-fc973bf2aaed.png)

**Versions:**
 - OS: windows
 - JDK 1.8
 - Faker Version 1.0.2

[2022-09-18 22:26] bodiam commented on #746
This library is no longer maintained. Please use  https://github.com/datafaker-net/datafaker, which is an active fork of this library.

[2022-10-04 17:33] MRezaNasirloo opened #747 "Wrong credit card numbers"
**Describe the bug**
Some generated credit card numbers for `CreditCardType.VISA` and `CreditCardType.DISCOVER`  are wrong

**To Reproduce**
[code]

**Expected behavior**

- Discover PAN should have a length of 16-19, not 20
- Visa PAN should have a length of 16-19, not 13

**Versions:**
 - OS: OSX
 - JDK 17
 - Faker Version 1.0.2

[2022-10-04 21:53] bodiam commented on #747
Hi  @MRezaNasirloo , could you please try out Datafaker.net, an active fork of this library? We did some improvements recently on the credit card generation in 1.7.0-SNAPSHOT, which might fix this issue, and we would love to hear your feedback on this.

[2022-10-12 22:45] thePantz commented on #475
The good folks at https://github.com/datafaker-net/datafaker (fork of this repo) have added a vehicle faker among many others. I suggest we all move there

[2022-10-12 22:45] #475 closed

[2022-10-12 23:18] bodiam commented on #475
I'm happy to hear that 2 years after the original report we can still add some value with Datafaker.

FYI, using Datafaker, it's also possible to create your own custom fakers of data, should there be a special case not supported by any of the current fakers.

[2022-10-14 09:40] bodiam commented on #489
At the beginning of this year we forked this library and we now maintain an active fork at Datafaker.net

One of the new features provided is the ability to write your own Faker, using either hardcoded values or yml files.

You can find the documentation here : https://www.datafaker.net/documentation/custom-providers/

Hope this can help someone out.

[2022-10-17 16:07] MRezaNasirloo commented on #747
Hi @bodiam, Same issue, you can try the above snippet

[2022-10-20 13:06] bodiam commented on #747
@MRezaNasirloo according to this info here: https://moneytips.com/anatomy-of-a-credit-card/, Visa cards:

The same information can be found here: https://en.wikipedia.org/wiki/Payment_card_number

[2022-10-26 09:10] MRezaNasirloo commented on #747
@bodiam You're right, however, these are not in circulation anymore, I guess.

What about DISCOVER? Max length should be 19 not 20

[2022-10-26 09:12] bodiam commented on #747
Can you give the snapshot version of Datafaker a try? I believe I fixed all the credit card issues, but if you find an issue, can you please make a new issue in the Datafaker repo for this? Thanks!

[2022-10-29 14:35] AlexZhuk commented on #441
Same for price() method in Commerce class

`
public String price(double min, double max) {
        double price = min + this.faker.random().nextDouble() * (max - min);
        return (new DecimalFormat("#0.00")).format(price);
    }
`
as wee can see DecimalFormat is used without locale.
Should be something like :
`
new DecimalFormat("#0.00", new DecimalFormatSymbols(locale)).format(price);

`
wher

[2022-10-29 14:49] AlexZhuk commented on #433
Have the same issue as well, as work around i'm using
[code]
on initing my project

[2022-10-30 02:06] bodiam commented on #433
This is probably fixed in Datafaker.net, could you give that a shot?

[2022-11-28 08:29] snuyanzin commented on #663
just for fun i added this as a benchmark to https://github.com/datafaker-net/datafaker
After a number of optimizations done in datafaker (versions 1.2.0-1.7.0)

it takes less than 10 min to generate these 100 million objects (jdk 17.0.5) in one thread
 (except `person.setBirthDay(DateUtils.get8DateString(faker.date().birthday().getTime()));` since I do not have `DateUtils#get8DateString`)
However